body{
    overflow-x: hidden;
}

main{
    position: relative;
    background-color: #202123;
    width: 100vw;
    height: 210vh;
}

main>section>h3{
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    top: 4%;
    left: 13%;
}

/* Assignment 1 */
#assignment1{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 10%;
    left: 13%;
}

#assignment1>img{
    position: absolute;
    width: 300px;
}

#assignment1>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment1>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment1>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment1>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment1>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment1>div>ol>li>a{
    color: white;
}

/* Assignment 2 */
#assignment2{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 10%;
    left: 40%;
}

#assignment2>img{
    position: absolute;
    width: 300px;
}

#assignment2>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment2>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment2>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment2>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment2>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment2>div>ol>li>a{
    color: white;
}

/* Assignment 3 */
#assignment3{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 10%;
    left: 65%;
}

#assignment3>img{
    position: absolute;
    width: 300px;
}

#assignment3>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment3>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment3>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment3>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment3>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment3>div>ol>li>a{
    color: white;
}

/* Assignment 4 */
#assignment4{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 33%;
    left: 13%;
}

#assignment4>img{
    position: absolute;
    width: 300px;
}

#assignment4>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment4>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment4>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment4>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment4>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment4>div>ol>li>a{
    color: white;
}

/* Assignment 5 */
#assignment5{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 33%;
    left: 40%;
}

#assignment5>img{
    position: absolute;
    width: 300px;
}

#assignment5>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment5>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment5>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment5>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment5>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment5>div>ol>li>a{
    color: white;
}

/* Assignment 6 */
#assignment6{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 33%;
    left: 65%;
}

#assignment6>img{
    position: absolute;
    width: 300px;
}

#assignment6>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment6>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment6>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment6>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment6>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment6>div>ol>li>a{
    color: white;
}

/* Assignment 7 */
#assignment7{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 56%;
    left: 13%;
}

#assignment7>img{
    position: absolute;
    width: 300px;
}

#assignment7>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment7>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment7>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment7>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment7>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment7>div>ol>li>a{
    color: white;
}

/* Assignment 8 */
#assignment8{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 56%;
    left: 40%;
}

#assignment8>img{
    position: absolute;
    width: 300px;
}

#assignment8>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment8>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment8>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment8>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;
}

#assignment8>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment8>div>ol>li>a{
    color: white;
}

/* Assignment 9 */
#assignment9{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 56%;
    left: 65%;
}

#assignment9>img{
    position: absolute;
    width: 300px;
}

#assignment9>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment9>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment9>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment9>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment9>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment9>div>ol>li>a{
    color: white;
}

/* Assignment 10 */
#assignment10{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 78.5%;
    left: 15%;
}

#assignment10>img{
    position: absolute;
    width: 300px;
}

#assignment10>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment10>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment10>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment10>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment10>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment10>div>ol>li>a{
    color: white;
}

/* Assignment 11 */
#assignment11{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 78.5%;
    left: 40%;
}

#assignment11>img{
    position: absolute;
    width: 300px;
}

#assignment11>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment11>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment11>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment11>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment11>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment11>div>ol>li>a{
    color: white;
}

/* Assignment 12 */
#assignment12{
    position: absolute;
    width: 300px;
    height: 320px;
    top: 78.5%;
    left: 65%;
}

#assignment12>img{
    position: absolute;
    width: 300px;

}

#assignment12>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

#assignment12>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

#assignment12>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment12>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment12>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment12>div>ol>li>a{
    color: white;
}

footer{
    position: relative;
    top: 0vh;
    background-color: #525252;
}

#footer1{
    background-color: #202135;
    width: 100vw;
    height: 13vh;
}

#footer1>ol{
    position: absolute;
    left: 8%;
    right: 8%;

}

#footer1>ol>li{
    display: inline-block;
    margin-left:40px;
}

#footer1>ol>li>a{
    text-decoration: none;
    color: white;
    font-size: 30px;

}

#div13{
    position: absolute;
    width: 0.2vw;
    height: 6vh;
    background-color: white;
    top: 7%;
    left: 19.5%;
}

#div14{
    position: absolute;
    width: 0.2vw;
    height: 6vh;
    background-color: white;
    top: 7%;
    left: 30.5%;
}

#div15{
    position: absolute;
    width: 0.2vw;
    height: 6vh;
    background-color: white;
    top: 7%;
    left: 44%;
}

#div16{
    position: absolute;
    width: 0.2vw;
    height: 6vh;
    background-color: white;
    top: 7%;
    left: 52.5%;
}

#div17{
    position: absolute;
    width: 0.2vw;
    height: 6vh;
    background-color: white;
    top: 7%;
    left: 65%;
}

#div18{
    position: absolute;
    width: 0.2vw;
    height: 6vh;
    background-color: white;
    top: 7%;
    left: 73.5%;
}

#footer2{
    background-color: #525252;
    width: 100vw;
    height: 40vh;
    bottom: -10%;
}

#footer2>ol{
    position: absolute;
    width: 50vw;
    height: 10vh;
    bottom: 32%;
    left: 6%;
}

#footer2>ol>li>a>img{
    width: 70px;
}

#footer2>ol>li{
    list-style: none;
    margin-left: 5%;
    display: inline-block;
}

#ol1{
    position: absolute;
    right: 35%;
    bottom: 8%;

}

#ol1>li{
    list-style: none;
    margin-top: 25px;
}

#ol1>li>img{
    width: 45px;
}

#ol2{
    position: absolute;
    right: 15%;
    bottom: 5%;
}

#ol2>li{
    list-style: none;
    margin-top: 30px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

#div19>ol>li{
    list-style: none;
}

#footer2>h6{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    opacity: 60%;
    bottom: -10%;
    left: 14%;
}

/* 1440 laptop size */
@media all and (max-width: 1440px) {
    #div13{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 20%;
    }

    #div14{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 31.5%;
    }

    #div15{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 45.5%;
    }

    #div16{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 55%;
    }

    #div17{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 68%;
    }

    #div18{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 77%;
    }
}

/* 1024 laptop size */
@media all and (max-width: 1024px) {
    /* assignment */
    main>section>h3{
        position: absolute;
        color: white;
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
        margin: 0;
        top: 4%;
        left: 13%;
    }

    #assignment1{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 10%;
        left: 15%;
    }

    #assignment1>img{
        position: absolute;
        width: 220px;
    }

    #assignment1>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 14%;
    }

    #assignment1>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment1>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment1>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment1>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 2 */
    #assignment2{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 10%;
        left: 40%;
    }

    #assignment2>img{
        position: absolute;
        width: 220px;
    }

    #assignment2>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 14%;
    }

    #assignment2>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment2>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment2>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;
    }

    #assignment2>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    #assignment2>div>ol>li>a{
        color: white;
    }

    /* Assignment 3 */
    #assignment3{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 10%;
        left: 65%;
    }

    #assignment3>img{
        position: absolute;
        width: 220px;
    }

    #assignment3>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment3>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment3>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment3>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment3>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 4 */
    #assignment4{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 33%;
        left: 15%;
    }

    #assignment4>img{
        position: absolute;
        width: 220px;
    }

    #assignment4>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment4>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment4>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment4>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment4>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 5 */
    #assignment5{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 33%;
        left: 40%;
    }

    #assignment5>img{
        position: absolute;
        width: 220px;
    }

    #assignment5>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment5>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment5>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment5>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment5>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 6 */
    #assignment6{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 33%;
        left: 65%;
    }

    #assignment6>img{
        position: absolute;
        width: 220px;
    }

    #assignment6>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment6>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment6>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment6>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment6>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    #assignment6>div>ol>li>a{
        color: white;
    }

    /* Assignment 7 */
    #assignment7{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 56%;
        left: 15%;
    }

    #assignment7>img{
        position: absolute;
        width: 220px;
    }

    #assignment7>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment7>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment7>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment7>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment7>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 8 */
    #assignment8{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 56%;
        left: 40%;
    }

    #assignment8>img{
        position: absolute;
        width: 220px;
    }

    #assignment8>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment8>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment8>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment8>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;
    }

    #assignment8>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 9 */
    #assignment9{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 56%;
        left: 65%;
    }

    #assignment9>img{
        position: absolute;
        width: 220px;
    }

    #assignment9>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment9>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment9>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment9>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment9>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 10 */
    #assignment10{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 78.5%;
        left: 15%;
    }

    #assignment10>img{
        position: absolute;
        width: 220px;
    }

    #assignment10>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment10>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment10>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment10>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment10>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 11 */
    #assignment11{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 78.5%;
        left: 40%;
    }

    #assignment11>img{
        position: absolute;
        width: 220px;
    }

    #assignment11>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment11>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment11>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment11>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment11>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 12 */
    #assignment12{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 78.5%;
        left: 65%;
    }

    #assignment12>img{
        position: absolute;
        width: 220px;

    }

    #assignment12>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment12>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment12>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment12>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment12>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* footer */
    #footer1{
        background-color: #202135;
        width: 100vw;
        height: 12vh;
    }

    #footer1>ol{
        position: absolute;
        left: 2%;
        right: 2%;
        top: 3%;
    }

    #footer1>ol>li{
        display: inline-block;
        margin-left:35px;
    }

    #footer1>ol>li>a{
        text-decoration: none;
        color: white;
        font-size: 23px;
    }

    #div13{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 16.5%;
    }

    #div14{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 29.5%;
    }

    #div15{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 45.5%;
    }

    #div16{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 56%;
    }

    #div17{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 70.5%;
    }

    #div18{
        position: absolute;
        width: 0.2vw;
        height: 6vh;
        background-color: white;
        top: 7%;
        left: 80.5%;
    }

    #footer2>ol{
        position: absolute;
        width: 50vw;
        height: 10vh;
        bottom: 32%;
        left: 6%;
    }

    #footer2>ol>li{
        list-style: none;
        margin-left: 5%;
        display: inline-block;
    }

    #footer2>ol>li>a>img{
        width: 50px;
    }

    #ol1{
        position: absolute;
        right: 41%;
        bottom: 8%;

    }

    #ol1>li{
        list-style: none;
        margin-top: 25px;
    }

    #ol1>li>img{
        width: 35px;
    }

    #ol2{
        position: absolute;
        right: 15%;
        bottom: 5%;
    }

    #ol2>li{
        list-style: none;
        margin-top: 30px;
        color: white;
        font-size: 22px;
        font-family: sans-serif;
    }

    #div19>ol>li{
        list-style: none;
    }

    #footer2>h6{
        position: absolute;
        color: white;
        font-size: 22px;
        font-family: sans-serif;
        opacity: 60%;
        bottom: -10%;
        left: 14%;
    }
}

@media all and (max-width: 768px){
    main{
        position: relative;
        background-color: #202123;
        width: 100vw;
        height: 280vh;
    }

    main>section>h3{
        position: absolute;
        color: white;
        font-size: 30px;
        font-family: sans-serif;
        font-weight: bold;
        margin: 0;
        top: 4%;
        left: 13%;
    }

    #assignment1{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 10%;
        left: 17%;
    }

    #assignment1>img    {
        position: absolute;
        width: 220px;
    }

    #assignment1>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 14%;
    }

    #assignment1>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment1>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment1>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment1>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 2 */
    #assignment2{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 10%;
        left: 55%;
    }

    #assignment2>img{
        position: absolute;
        width: 220px;
    }

    #assignment2>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 14%;
    }

    #assignment2>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment2>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment2>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;
    }

    #assignment2>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    #assignment2>div>ol>li>a{
        color: white;
    }

    /* Assignment 3 */
    #assignment3{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 25%;
        left: 17%;
    }

    #assignment3>img{
        position: absolute;
        width: 220px;
    }

    #assignment3>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment3>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment3>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment3>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment3>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 4 */
    #assignment4{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 25%;
        left: 55%;
    }

    #assignment4>img{
        position: absolute;
        width: 220px;
    }

    #assignment4>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment4>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment4>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment4>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment4>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 5 */
    #assignment5{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 40%;
        left: 17%;
    }

    #assignment5>img{
        position: absolute;
        width: 220px;
    }

    #assignment5>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment5>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment5>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment5>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment5>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 6 */
    #assignment6{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 40%;
        left: 55%;
    }

    #assignment6>img{
        position: absolute;
        width: 220px;
    }

    #assignment6>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment6>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment6>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment6>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment6>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    #assignment6>div>ol>li>a{
        color: white;
    }

    /* Assignment 7 */
    #assignment7{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 55%;
        left: 17%;
    }

    #assignment7>img{
        position: absolute;
        width: 220px;
    }

    #assignment7>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment7>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment7>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment7>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment7>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 8 */
    #assignment8{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 55%;
        left: 55%;
    }

    #assignment8>img{
        position: absolute;
        width: 220px;
    }

    #assignment8>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment8>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment8>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment8>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;
    }

    #assignment8>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 9 */
    #assignment9{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 70%;
        left: 17%;
    }

    #assignment9>img{
        position: absolute;
        width: 220px;
    }

    #assignment9>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment9>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment9>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment9>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment9>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 10 */
    #assignment10{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 70%;
        left: 55%;
    }

    #assignment10>img{
        position: absolute;
        width: 220px;
    }

    #assignment10>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment10>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment10>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment10>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment10>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 11 */
    #assignment11{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 85%;
        left: 17%;
    }

    #assignment11>img{
        position: absolute;
        width: 220px;
    }

    #assignment11>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment11>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment11>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment11>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment11>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }

    /* Assignment 12 */
    #assignment12{
        position: absolute;
        width: 250px;
        height: 300px;
        top: 85%;
        left: 55%;
    }

    #assignment12>img{
        position: absolute;
        width: 220px;

    }

    #assignment12>h5{
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 30px;
        bottom: 60%;
        left: 13%;
    }

    #assignment12>div{
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #202123;
        border-radius: 100%;
        bottom: 20%;
        left: 20%;
    }

    #assignment12>div>img{
        position: absolute;
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment12>div>ol{
        position: absolute;
        top: 38%;
        left: -20%;

    }

    #assignment12>div>ol>li{
        text-align: center;
        font-size: 20px;
        list-style: none;
        text-decoration: none;
    }
    /*footer{*/
    /*    !*position: relative;*!*/
    /*    !*top: 10vh;*!*/
    /*    background-color: #525252;*/
    /*}*/

    #footer1{
        background-color: #202135;
        width: 100vw;
        height: 10vh;
    }

    #footer1>ol{
        position: absolute;
        top: 2%;
        left: -0.5%;
        right: -0.5%;

    }

    #footer1>ol>li{
        display: inline-block;
        margin-left:10px;
    }

    #footer1>ol>li>a{
        text-decoration: none;
        color: white;
        font-size: 21px;
    }

    #div13{
        position: absolute;
        width: 0.3vw;
        height: 5vh;
        background-color: white;
        top: 6%;
        left: 13.6%;
    }

    #div14{
        position: absolute;
        width: 0.2vw;
        height: 5vh;
        background-color: white;
        top: 6%;
        left: 26.6%;
    }

    #div15{
        position: absolute;
        width: 0.2vw;
        height: 5vh;
        background-color: white;
        top: 6%;
        left: 42.7%;
    }

    #div16{
        position: absolute;
        width: 0.2vw;
        height: 5vh;
        background-color: white;
        top: 6%;
        left: 52.7%;
    }

    #div17{
        position: absolute;
        width: 0.2vw;
        height: 5vh;
        background-color: white;
        top: 6%;
        left: 67.6%;
    }

    #div18{
        position: absolute;
        width: 0.2vw;
        height: 5vh;
        background-color: white;
        top: 6%;
        left: 77.3%;
    }

    #footer2{
        background-color: #525252;
        width: 100vw;
        height: 30vh;
        bottom: -10%;
    }

    #footer2>ol{
        position: absolute;
        width: 50vw;
        height: 10vh;
        bottom: 32%;
        left: 4%;
    }

    #footer2>ol>li{
        list-style: none;
        margin-left: 4%;
        display: inline-block;
    }

    #footer2>ol>li>a>img{
        width: 50px;
    }

    #ol1{
        position: absolute;
        right: 39%;
        bottom: 5%;

    }

    #ol1>li{
        list-style: none;
        margin-top: 25px;
    }

    #ol1>li>img{
        width: 30px;
    }

    #ol2{
        position: absolute;
        right: 10%;
        bottom: 1%;
    }

    #ol2>li{
        list-style: none;
        margin-top: 30px;
        color: white;
        font-size: 18px;
        font-family: sans-serif;
    }

    #div19>ol>li{
        list-style: none;
    }

    #footer2>h6{
        position: absolute;
        color: white;
        font-size: 16px;
        font-family: sans-serif;
        opacity: 60%;
        bottom: -7%;
        left: 12%;
    }
}