body{
    position: relative;
    background-color: #202123;
    width: 100%;
    height: 1550px;
    overflow-x: hidden;
}

main>section>h3{
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    top: 4%;
    left: 13%;
}

/* Assignment 1 */
#assignment1{
    position: absolute;
    top: 10%;
    left: 13%;
}

.rec{
    position: absolute;
    width: 300px;
    height: 320px;
}

.assignmentPic{
    position: absolute;
    width: 300px;
}

.text{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 36px;
    bottom: 60%;
    left: 18%;
}

.circle{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    bottom: 3%;
    left: 25%;
}

.assignmentPic2{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

.text2{
    position: absolute;
    top: 38%;
    left: -14%;

}

.text3{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

.text4{
    color: white;
}

/* Assignment 2 */
#assignment2{
    position: absolute;
    top: 10%;
    left: 40%;
}

/* Assignment 3 */
#assignment3{
    position: absolute;
    top: 10%;
    left: 65%;
}

/* Assignment 4 */
#assignment4{
    position: absolute;
    top: 33%;
    left: 13%;
}

/* Assignment 5 */
#assignment5{
    position: absolute;
    top: 33%;
    left: 40%;
}

/* Assignment 6 */
#assignment6{
    position: absolute;
    top: 33%;
    left: 65%;
}

/* Assignment 7 */
#assignment7{
    position: absolute;
    top: 56%;
    left: 13%;
}

/* Assignment 8 */
#assignment8{
    position: absolute;
    top: 56%;
    left: 40%;
}

/* Assignment 9 */
#assignment9{
    position: absolute;
    top: 56%;
    left: 65%;
}

/* Assignment 10 */
#assignment10{
    position: absolute;
    top: 78.5%;
    left: 13%;
}

/* Assignment 11 */
#assignment11{
    position: absolute;
    top: 78.5%;
    left: 40%;
}

/* Assignment 12 */
#assignment12{
    position: absolute;
    top: 78.5%;
    left: 65%;
}

footer{
    position: relative;
    top: 1600px;
    background-color: #525252;
}

#footer1{
    background-color: #202135;
    height: 100px;
}

#footer1>ol{
    position: absolute;
    left: 120px;

}

#footer1>ol>li{
    display: inline-block;
    margin-left:40px;
}

#footer1>ol>li>a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.dash{
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: white;
    top: 7%;
}

#div13{
    position: absolute;
    left: 295px;
}

#div14{
    position: absolute;
    left: 460px;
}

#div15{
    position: absolute;
    left: 665px;
}

#div16{
    position: absolute;
    left: 795px;
}

#div17{
    position: absolute;
    left: 985px;
}

#div18{
    position: absolute;
    left: 1115px;
}

#center{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#footer2{
    background-color: #525252;
    height: 280px;
    bottom: -10%;
}

#footer2>ol{
    position: absolute;
    width: 500px;
    height: 50px;
    bottom: 32%;
    left: 190px;
}

#footer2>ol>li{
    list-style: none;
    margin-left: 10px;
    display: inline-block;
}

#footer2>ol>li>a>img{
    width: 70px;
}

#ol1{
    position: absolute;
    right: 550px;
    bottom: 8%;

}

#ol1>li{
    list-style: none;
    margin-top: 25px;
}

#ol1>li>img{
    width: 45px;
}

#ol2{
    position: absolute;
    right: 220px;
    bottom: 5%;
}

#ol2>li{
    list-style: none;
    margin-top: 30px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

#div19>ol>li{
    list-style: none;
}

#footer2>h6{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    opacity: 60%;
    bottom: -10%;
    left: 210px;
}

/* 1440 laptop size */
@media all and (max-width: 1440px) {
    body {
        height: 1550px;
    }

    /* Assignment 1 */
    #assignment1{
        top: 10%;
        left: 13%;
    }

    .rec{
        width: 255px;
        height: 275px;
    }

    .assignmentPic{
        width: 255px;
    }

    .text{
        font-size: 36px;
        bottom: 55%;
        left: 14%;
    }

    .circle{
        bottom: -3%;
        left: 22%;
    }

    #assignment2{
        top: 10%;
        left: 39%;
    }

    #assignment3{
        top: 10%;
        left: 65%;
    }

    #assignment4{
        top: 33%;
        left: 13%;
    }

    #assignment5{
        top: 33%;
        left: 39%;
    }

    #assignment6{
        top: 33%;
        left: 65%;
    }

    #assignment7{
        top: 56%;
        left: 13%;
    }

    #assignment8{
        top: 56%;
        left: 39%;
    }

    #assignment9{
        top: 56%;
        left: 65%;
    }

    #assignment10{
        top: 78.5%;
        left: 13%;
    }

    #assignment11{
        top: 78.5%;
        left: 39%;
    }

    #assignment12{
        top: 78.5%;
        left: 65%;
    }

    #footer1>ol{
        left: 230px;
    }

    #footer1>ol>li{
        margin-left:20px;
    }

    #footer1>ol>li>a{
        font-size: 25px;
    }

    #footer2>ol{
        bottom: 32%;
        left: 107px;
    }

    #footer2>ol>li>a>img{
        width: 65px;
    }

    #ol1{
        right: 550px;
        bottom: 8%;
    }

    #ol1>li{
        list-style: none;
        margin-top: 25px;
    }

    #ol1>li>img{
        width: 45px;
    }

    #ol2{
        position: absolute;
        right: 220px;
        bottom: 5%;
    }

    #ol2>li{
        margin-top: 30px;
        font-size: 24px;
    }

    #footer2>h6{
        font-size: 25px;
        bottom: -10%;
        left: 170px;
    }

    #div13{
        left: 363px;
    }

    #div14{
        left: 489px;
    }

    #div15{
        left: 645px;
    }

    #div16{
        left: 745px;
    }

    #div17{
        left: 887px;
    }

    #div18{
        left: 983px;
    }
}

/* 1024 laptop size */
@media  all and (max-width: 1024px) {
    body{
        height: 1200px;
    }

    main>section>h3{
        font-size: 30px;
    }

    #assignment1{
        top: 10%;
        left: 15%;
    }

    .rec{
        width: 180px;
        height: 320px;
    }

    .assignmentPic{
        width: 180px;
    }

    .text{
        font-size: 27px;
        bottom: 70%;
        left: 11%;
    }

    .circle{
        width: 110px;
        height: 110px;
        bottom: 35%;
        left: 20%;
    }

    .assignmentPic2{
        width: 35px;
        top: 13%;
        left: 35%;
    }

    .text2{
        top: 38%;
        left: -25%;
    }

    .text3{
        font-size: 19px;
    }

    #assignment2{
        top: 10%;
        left: 40%;
    }

    #assignment3{
        top: 10%;
        left: 65%;
    }

    #assignment4{
        top: 33%;
        left: 15%;
    }

    #assignment5{
        top: 33%;
        left: 40%;
    }

    #assignment6{
        top: 33%;
        left: 65%;
    }

    #assignment7{
        top: 56%;
        left: 15%;
    }

    #assignment8{
        top: 56%;
        left: 40%;
    }

    #assignment9{
        top: 56%;
        left: 65%;
    }

    #assignment10{
        top: 78.5%;
        left: 15%;
    }

    #assignment11{
        top: 78.5%;
        left: 40%;
    }

    #assignment12{
        top: 78.5%;
        left: 65%;
    }

    footer{
        position: relative;
        top: 1210px;
        background-color: #525252;
    }

    #footer1{
        height: 90px;
    }

    #footer1>ol{
        left: 105px;
    }

    #footer1>ol>li{
        margin-left:20px;
    }

    #footer1>ol>li>a{
        font-size: 20px;
    }

    #div13{
        left: 225px;
    }

    #div14{
        left: 330px;
    }

    #div15{
        left: 460px;
    }

    #div16{
        left: 542px;
    }

    #div17{
        left: 665px;
    }

    #div18{
        left: 745px;
    }

    #footer2{
        height: 250px;
        bottom: -10%;
    }

    #footer2>ol{
        width: 500px;
        height: 50px;
        bottom: 32%;
        left: 50px;
    }

    #footer2>ol>li{
        margin-left: 10px;
    }

    #footer2>ol>li>a>img{
        width: 45px;
    }

    #ol1{
        right: 400px;
        bottom: 12.5%;

    }

    #ol1>li{
        margin-top: 27px;
    }

    #ol1>li>img{
        width: 35px;
    }

    #ol2{
        right: 110px;
        bottom: 5%;
    }

    #ol2>li{
        margin-top: 22px;
        font-size: 24px;
    }

    #footer2>h6{
        font-size: 22px;
        bottom: -10%;
        left: 100px;
    }
}

@media all and (max-width: 768px){

    body{
        height: 1780px;
    }

    main>section>h3{
        font-size: 30px;
    }

    #assignment1{
        top: 10%;
        left: 17%;
    }

    .rec{
        width: 250px;
        height: 300px;
    }

    .assignmentPic{
        width: 220px;
    }

    .text{
        font-size: 30px;
        bottom: 60%;
        left: 11%;
    }

    .circle{
        width: 120px;
        height: 120px;
        bottom: 20%;
        left: 20%;
    }

    .assignmentPic2{
        width: 35px;
        top: 13%;
        left: 35%;
    }

    .text2{
        position: absolute;
        top: 38%;
        left: -20%;
    }

    .text3{
        font-size: 20px;
    }

    #assignment2{
        top: 10%;
        left: 55%;
    }

    #assignment3{
        top: 25%;
        left: 17%;
    }

    #assignment4{
        top: 25%;
        left: 55%;
    }

    #assignment5{
        top: 40%;
        left: 17%;
    }

    #assignment6{
        top: 40%;
        left: 55%;
    }

    #assignment7{
        top: 55%;
        left: 17%;
    }

    #assignment8{
        top: 55%;
        left: 55%;
    }

    #assignment9{
        top: 70%;
        left: 17%;
    }

    #assignment10{
        top: 70%;
        left: 55%;
    }

    #assignment11{
        top: 85%;
        left: 17%;
    }

    #assignment12{
        top: 85%;
        left: 55%;
    }

    footer{
        position: relative;
        top: 1790px;
        background-color: #525252;
    }

    #footer1{
        height: 60px;
    }

    #footer1>ol{
        left: 40px;
        margin-top: 1px;
    }

    #footer1>ol>li{
        margin-left:10px;
    }

    #footer1>ol>li>a{
        font-size: 17px;
    }

    .dash{
        width: 2px;
        height: 30px;
        top: 5%;
    }

    #div13{
        left: 137px;
    }

    #div14{
        left: 221px;
    }

    #div15{
        left: 325px;
    }

    #div16{
        left: 391px;
    }

    #div17{
        left: 484px;
    }

    #div18{
        left: 548px;
    }

    #footer2{
        height: 190px;
        bottom: -10%;
    }

    #footer2>ol{
        width: 500px;
        height: 50px;
        bottom: 22%;
        left: 50px;
    }

    #footer2>ol>li{
        margin-left: 10px;
    }

    #footer2>ol>li>a>img{
        width: 40px;
    }

    #ol1{
        right: 355px;
        bottom: 5.5%;

    }

    #ol1>li{
        margin-top: 20px;
    }

    #ol1>li>img{
        width: 30px;
    }

    #ol2{
        right: 110px;
        bottom: -3%;
    }

    #ol2>li{
        margin-top: 22px;
        font-size: 20px;
    }

    #footer2>h6{
        font-size: 16px;
        bottom: -10%;
        left: 60px;
    }
}

@media all and (max-width: 426px){

    body{
        height: 3650px;
    }

    main>section>h3{
        font-size: 25px;
        top: 1%;
        left: 13%;
    }

    #assignment1{
        top: 3%;
        left: 24.5%;
    }

    /* Assignment 2 */
    #assignment2{
        top: 10.2%;
        left: 24.5%;
    }

    /* Assignment 3 */
    #assignment3{
        top: 17.5%;
        left: 24.5%;
    }

    /* Assignment 4 */
    #assignment4{
        top: 25%;
        left: 24.5%;
    }

    /* Assignment 5 */
    #assignment5{
        top: 32.5%;
        left: 24.5%;
    }

    /* Assignment 6 */
    #assignment6{
        top: 40%;
        left: 24.5%;
    }

    /* Assignment 7 */
    #assignment7{
        top: 47.5%;
        left: 24.5%;
    }

    /* Assignment 8 */
    #assignment8{
        top: 55%;
        left: 24.5%;
    }

    /* Assignment 9 */
    #assignment9{
        top: 62.5%;
        left: 24.5%;
    }

    /* Assignment 10 */
    #assignment10{
        top: 70%;
        left: 24.5%;
    }

    /* Assignment 11 */
    #assignment11{
        top: 77.5%;
        left: 24.5%;
    }

    /* Assignment 12 */
    #assignment12{
        top: 85%;
        left: 24.5%;
    }

    footer{
        position: relative;
        top: 3390px;
        background-color: #525252;
    }

    #footer1{
        width: 425px;
        height: 70px;
    }

    #footer1>ol{
        left: -23px;
        margin-top: 0px;
        width: 380px;
        text-align: center;
    }

    #footer1>ol>li{
        margin-left:10px;
    }

    #footer1>ol>li>a{
        font-size: 18px;
    }

    #div13{
        width: 1.5px;
        height: 20px;
        top: 6%;
        left: 109px;
    }

    #div14{
        width: 1.5px;
        height: 20px;
        top: 6%;
        left: 195px;
    }

    #div15{
        width: 1.5px;
        height: 20px;
        top: 6%;
        left: 305px;
    }

    #div16{
        display: none;
    }

    #div17{
        width: 1.5px;
        height: 20px;
        top: 14%;
        left: 179px;
    }

    #div18{
        width: 1.5px;
        height: 20px;
        top: 14%;
        left: 245px;
    }

    #footer2{
        width: 425px;
        height: 220px;
        bottom: -10%;
    }

    #footer2>ol{
        width: 500px;
        height: 50px;
        bottom: 4%;
        left: 32px;
    }

    #footer2>ol>li{
        margin-left: 10px;
    }

    #footer2>ol>li>a>img{
        width: 40px;
    }

    #ol1{
        right: 295px;
        bottom: 25%;

    }

    #ol1>li{
        margin-top: 19px;
    }

    #ol1>li>img{
        width: 20px;
    }

    #ol2{
        right: 90px;
        bottom: 19%;
    }

    #ol2>li{
        margin-top: 18px;
        font-size: 16px;
    }

    #footer2>h6{
        font-size: 16px;
        bottom: -10%;
        left: 60px;
    }
}