html{
    overflow-x: hidden!important;
}

body{
    position: relative;
    background-color: #202123;
    width: 100%;
    height: 1625px;
    overflow-x: hidden;
    !important;
}

h3{
    position: absolute;
    color: white;
    font-size: 36px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    top: 4%;
    left: 13%;
}

img {
    margin: 5px;
    transition: transform 1s;
    border: 1px ;

}
img:hover {
    transform: scale(1.1);
}

.img{
    position: absolute;
    width: 350px;
}

#image1{
    position: absolute;
    top: 11%;
    left: 15.5%;
}

#image2{
    position: absolute;
    top: 11%;
    left: 38.29%;
}

#image3{
    position: absolute;
    top: 11%;
    right: 15.5%;
}

#image4{
    position: absolute;
    top: 43.3%;
    left: 15.5%;
}

#image5{
    position: absolute;
    top: 43.3%;
    left: 38.29%;
}

#image6{
    position: absolute;
    top: 43.3%;
    right: 15.5%;
}

#image7{
    position: absolute;
    top: 57.6%;
    left: 15.5%;
}

#image8{
    position: absolute;
    top: 57.6%;
    left: 38.29%;
}

#image9{
    position: absolute;
    width: 350px;
    top: 57.6%;
    right: 15.5%;
}

#image10{
    position: absolute;
    top: 72%;
    left: 15.5%;
}

#image11{
    position: absolute;
    top: 72%;
    left: 38.29%;
}

#image12{
    position: absolute;
    top: 72%;
    right: 15.5%;
}

footer{
    position: relative;
    top: 1480px;
    background-color: #525252;
}

#footer1{
    background-color: #202135;
    height: 100px;
}

#footer1>ol{
    position: absolute;
    left: 120px;

}

#footer1>ol>li{
    display: inline-block;
    margin-left:40px;
}

#footer1>ol>li>a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.dash{
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: white;
    top: 7%;
}

#div13{
    position: absolute;
    left: 295px;
}

#div14{
    position: absolute;
    left: 460px;
}

#div15{
    position: absolute;
    left: 665px;
}

#div16{
    position: absolute;
    left: 795px;
}

#div17{
    position: absolute;
    left: 985px;
}

#div18{
    position: absolute;
    left: 1115px;
}

#center{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#footer2{
    background-color: #525252;
    height: 280px;
    bottom: -10%;
}

#footer2>ol{
    position: absolute;
    width: 500px;
    height: 50px;
    bottom: 32%;
    left: 190px;
}

#footer2>ol>li{
    list-style: none;
    margin-left: 10px;
    display: inline-block;
}

#footer2>ol>li>a>img{
    width: 70px;
}

#ol1{
    position: absolute;
    right: 550px;
    bottom: 8%;

}

#ol1>li{
    list-style: none;
    margin-top: 10px;
}

#ol1>li>img{
    width: 45px;
}

#ol2{
    position: absolute;
    right: 220px;
    bottom: 5%;
}

#ol2>li{
    list-style: none;
    margin-top: 30px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

#div19>ol>li{
    list-style: none;
}

#footer2>h6{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    opacity: 60%;
    bottom: -10%;
    left: 210px;
}

/* 1440 laptop size */
@media all and (max-width: 1440px) {
    body{
        position: relative;
        background-color: #202123;
        height: 1490px;
        overflow-x: hidden;
    }

    .img{
        width: 320px;
    }
    #image1{
        top: 11%;
        left: 16.3%;
    }

    #image2{
        top: 11%;
        left: 38.6%;
    }

    #image3{
        top: 11%;
        right: 16.3%;
    }

    #image4{
        top: 43.3%;
        left: 16.3%;
    }

    #image5{
        top: 43.3%;
        left: 38.6%;
    }

    #image6{
        top: 43.3%;
        right: 16.3%;
    }

    #image7{
        top: 57.6%;
        left: 16.3%;
    }

    #image8{
        top: 57.6%;
        left: 38.6%;
    }

    #image9{
        right: 16.3%;
        top: 57.6%;
    }

    #image10{
        top: 72%;
        left: 16.3%;
    }

    #image11{
        top: 72%;
        left: 38.6%;
    }

    #image12{
        top: 72%;
        right: 16.3%;
    }

    footer{
        top: 1400px;
    }

    #footer1>ol{
        left: 230px;
    }

    #footer1>ol>li{
        margin-left:20px;
    }

    #footer1>ol>li>a{
        font-size: 25px;
    }

    #footer2>ol{
        bottom: 32%;
        left: 107px;
    }

    #footer2>ol>li>a>img{
        width: 65px;
    }

    #ol1{
        right: 550px;
        bottom: 8%;
    }

    #ol1>li{
        list-style: none;
        margin-top: 15px;
    }

    #ol1>li>img{
        width: 45px;
    }

    #ol2{
        position: absolute;
        right: 220px;
        bottom: 5%;
    }

    #ol2>li{
        margin-top: 30px;
        font-size: 24px;
    }

    #footer2>h6{
        font-size: 25px;
        bottom: -10%;
        left: 170px;
    }

    #div13{
        left: 363px;
    }

    #div14{
        left: 489px;
    }

    #div15{
        left: 645px;
    }

    #div16{
        left: 745px;
    }

    #div17{
        left: 887px;
    }

    #div18{
        left: 983px;
    }
}

/* 1024 laptop size */
@media all and (max-width: 1024px) {
    body{
        height: 1300px;
    }

    .img{
        width: 233px;
    }

    #image1{
        top: 16.5%;
        left: 15.5%;
    }

    #image2{
        top: 16.5%;
        left: 38.29%;
    }

    #image3{
        top: 16.5%;
        right: 15.5%;
    }

    #image4{
        top: 43.3%;
        left: 15.5%;
    }

    #image5{
        top: 43.3%;
        left: 38.29%;
    }

    #image6{
        top: 43.3%;
        right: 15.5%;
    }

    #image7{
        top: 55.2%;
        left: 15.5%;
    }

    #image8{
        top: 55.2%;
        left: 38.29%;
    }

    #image9{
        top: 55.2%;
        right: 15.5%;
        width: 233px;
    }

    #image10{
        top: 67%;
        left: 15.5%;
    }

    #image11{
        top: 67%;
        left: 38.29%;
    }

    #image12{
        top: 67%;
        right: 15.5%;
    }

    footer{
        top: 1100px;
    }

    #footer1{
        height: 90px;
    }

    #footer1>ol{
        left: 105px;
    }

    #footer1>ol>li{
        margin-left:20px;
    }

    #footer1>ol>li>a{
        font-size: 20px;
    }

    #div13{
        left: 225px;
    }

    #div14{
        left: 330px;
    }

    #div15{
        left: 460px;
    }

    #div16{
        left: 542px;
    }

    #div17{
        left: 665px;
    }

    #div18{
        left: 745px;
    }

    #footer2{
        height: 250px;
        bottom: -10%;
    }

    #footer2>ol{
        width: 500px;
        height: 50px;
        bottom: 32%;
        left: 50px;
    }

    #footer2>ol>li{
        margin-left: 10px;
    }

    #footer2>ol>li>a>img{
        width: 45px;
    }

    #ol1{
        right: 400px;
        bottom: 12.5%;

    }

    #ol1>li{
        margin-top: 15px;
    }

    #ol1>li>img{
        width: 35px;
    }

    #ol2{
        right: 110px;
        bottom: 5%;
    }

    #ol2>li{
        margin-top: 22px;
        font-size: 24px;
    }

    #footer2>h6{
        font-size: 22px;
        bottom: -10%;
        left: 100px;
    }
}

@media all and (max-width: 768px){
    body{
        height: 970px;
    }

    .img{
        position: absolute;
        width: 173px;
    }

    #image1{
        top: 16.5%;
        left: 15.5%;
    }

    #image2{
        top: 16.5%;
        left: 38.10%;
    }

    #image3{
        top: 16.5%;
        right: 15.5%;
    }

    #image4{
        top: 43.3%;
        left: 15.5%;
    }

    #image5{
        top: 43.3%;
        left: 38.10%;
    }

    #image6{
        top: 43.3%;
        right: 15.5%;
    }

    #image7{
        top: 55.2%;
        left: 15.5%;
    }

    #image8{
        top: 55.2%;
        left: 38.10%;
    }

    #image9{
        top: 55.2%;
        right: 15.5%;
        width: 173px;
    }

    #image10{
        top: 67%;
        left: 15.5%;
    }

    #image11{
        top: 67%;
        left: 38.10%;
    }

    #image12{
        top: 67%;
        right: 15.5%;
    }
    footer{
        top: 830px;
    }

    #footer1{
        height: 60px;
    }

    #footer1>ol{
        left: 40px;
        margin-top: 1px;
    }

    #footer1>ol>li{
        margin-left:10px;
    }

    #footer1>ol>li>a{
        font-size: 17px;
    }

    .dash{
        width: 2px;
        height: 30px;
        top: 5%;
    }

    #div13{
        left: 137px;
    }

    #div14{
        left: 221px;
    }

    #div15{
        left: 325px;
    }

    #div16{
        left: 391px;
    }

    #div17{
        left: 484px;
    }

    #div18{
        left: 548px;
    }

    #footer2{
        height: 190px;
        bottom: -10%;
    }

    #footer2>ol{
        width: 500px;
        height: 50px;
        bottom: 22%;
        left: 15px;
    }

    #footer2>ol>li{
        margin-left: 8px;
    }

    #footer2>ol>li>a>img{
        width: 40px;
    }

    #ol1{
        right: 355px;
        bottom: 5%;

    }

    #ol1>li{
        margin-top: 10px;
    }

    #ol1>li>img{
        width: 30px;
    }

    #ol2{
        right: 110px;
        bottom: -3%;
    }

    #ol2>li{
        margin-top: 22px;
        font-size: 20px;
    }

    #footer2>h6{
        font-size: 16px;
        bottom: -10%;
        left: 60px;
    }
}

@media all and (max-width: 426px){
    body{
        position: relative;
        background-color: #202123;
        height: 1105px;
        overflow-x: hidden;
    }

    h3{
        font-size: 25px;
        top: 4%;
        left: 13%;
    }

    #image1{
        width: 158px;
        top: 119px;
        left: 50px;
    }

    #image2{
        width: 158px;
        top: 119px;
        left: 208px;
    }

    #image3{
        display: none;
    }

    #image4{
        width: 158px;
        top: 355px;
        left: 50px;
    }

    #image5{
        width: 158px;
        top: 460px;
        left: 50px;
        z-index: 10;
    }

    #image6{
        z-index: 10;
        position: absolute;
        width: 158px;
        /*top: 43.3%;*/
        left: 208px;
        top: 355px;
    }

    #image7{
        position: absolute;
        width: 158px;
        /*top: 57.6%;*/
        top: 460px;
        left: 208px;
    }

    #image8{
        position: absolute;
        width: 158px;
        /*top: 57.6%;*/
        top: 565px;
        left: 50px;
    }

    #image9{
        display: none;
    }

    #image10{
        width:  158px;
        top: 670px;
        left: 50px;
    }

    #image11{
        position: absolute;
        width: 158px;
        /*top: 72%;*/
        top: 565px;
        left: 208px;
    }

    #image12{
        position: absolute;
        width: 158px;
        /*top: 72%;*/
        top: 670px;
        left: 208px;
    }

    footer{
        top: 830px;
    }

    #footer1{
        width: 425px;
        height: 70px;
    }

    #footer1>ol{
        left: -23px;
        margin-top: 0px;
        width: 380px;
        text-align: center;
    }

    #footer1>ol>li{
        margin-left:10px;
    }

    #footer1>ol>li>a{
        font-size: 18px;
    }

    #div13{
        width: 1.5px;
        height: 20px;
        top: 6%;
        left: 109px;
    }

    #div14{
        width: 1.5px;
        height: 20px;
        top: 6%;
        left: 195px;
    }

    #div15{
        width: 1.5px;
        height: 20px;
        top: 6%;
        left: 305px;
    }

    #div16{
        display: none;
    }

    #div17{
        width: 1.5px;
        height: 20px;
        top: 14%;
        left: 179px;
    }

    #div18{
        width: 1.5px;
        height: 20px;
        top: 14%;
        left: 245px;
    }

    #footer2{
        width: 425px;
        height: 220px;
        bottom: -10%;
    }

    #footer2>ol{
        width: 500px;
        height: 50px;
        bottom: 4.5%;
        left: 16px;
    }

    #footer2>ol>li{
        margin-left: 3px;
    }

    #footer2>ol>li>a>img{
        width: 40px;
    }

    #ol1{
        right: 295px;
        bottom: 22%;

    }

    #ol1>li{
        margin-top: 11px;
    }

    #ol1>li>img{
        width: 20px;
    }

    #ol2{
        right: 90px;
        bottom: 19%;
    }

    #ol2>li{
        margin-top: 18px;
        font-size: 16px;
    }

    #footer2>h6{
        font-size: 16px;
        bottom: -10%;
        left: 60px;
    }
}
