@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    --text-color: white;
    --second--text-color: #1DB89D;
    --hover-color: #1DB89D;
    --bg-color: #202123;
    --second-bg-color: #202135;
    --footer-color: #525252;;
    --big-font: 5.5rem;
    --topic-font: 1.2rem;
    --second-topic-font: 2.5rem;
    --normal-font: 2.5rem;
    --button-font: 1.5rem;
    --neon-box-shadow: 0 0 .5rem white;
    --font-neon-text-shadow:0 0 10px rgba(29, 184, 157, 0.3),
    0 0 20px rgba(29, 184, 157, 0.3),
    0 0 30px rgba(29, 184, 157, 0.3),
    0 0 40px rgba(29, 184, 157, 0.3),
    0 0 70px rgba(29, 184, 157, 0.3),
    0 0 80px rgba(29, 184, 157, 0.3),
    0 0 100px rgba(29, 184, 157, 0.3),
    0 0 150px rgba(29, 184, 157, 0.3);
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background-color: var(--second-bg-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--hover-color);
    border-radius: 5rem;
}

body{
    font-family: "Poppins",sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* preloader */
#preloader {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
}

iframe{
    display: none;
}

#preloader-over-layer {
    background: #212121;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.8;
}

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #1DB89D;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
}

.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #1DB89D;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
    15% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow324 {

    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
}

header.sticky{
    background-color: var(--bg-color);
    border-bottom: 3px solid var(--second-bg-color);
    padding: 12px 10%;
}

.logo{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo>a{
    color: var(--text-color);
}

span{
    color: var(--second--text-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
    font-size: 1rem;
}

.navlist a:hover{
    color: var(--second--text-color);
    text-shadow:0 0 10px rgba(29, 184, 157, 0.6),
    0 0 20px rgba(29, 184, 157, 0.6),
    0 0 30px rgba(29, 184, 157, 0.6),
    0 0 40px rgba(29, 184, 157, 0.6),
    0 0 70px rgba(29, 184, 157, 0.6),
    0 0 80px rgba(29, 184, 157, 0.6),
    0 0 100px rgba(29, 184, 157, 0.6),
    0 0 150px rgba(29, 184, 157, 0.6);
}

.navlist a.active{
    color: var(--hover-color);
}

#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background-color: var(--second--text-color);
    border-radius: 3px;
    color: var(--second-bg-color);
    display: none;
}

section{
    padding: 100px 10%;
}

.home{
    position: relative;
    width: 100%;
    height: 739px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-content{
    position: relative;
    top: -20%;
}

.home-content h1{
    text-align: center;
}

.main-text{
    font-size: var(--big-font);
}

.change-text{
    text-align: center;
    font-size: var(--second-topic-font);
    font-weight: 600;
    top: 10%;
    margin: 0;
    left: 0;
    right: 0;
}

.change-text h3{
    position: absolute;
    display: inline-flex;
    vertical-align: top;
    right: 62.8%;

}

.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter{
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}

.change-text h3 .word .letter.in{
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}

.age{
    position: absolute;
    margin-top: 5rem;
    left: 35%;
}

.btn{
    position: absolute;
    left: 44%;
    margin-top: 17rem;
    background-color: var(--bg-color);
}

button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    cursor: pointer;
}

button>a{
    color: var(--text-color);
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,#1DB89D 0%, #202135 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}

.social-icons{
    display: flex;
    position: absolute;
    left: 39.5%;
    bottom: 6rem;
    justify-content: space-between;
    width: 280px;
    height: fit-content;
}

.social-icons a{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
    background: var(--bg-color);
    color: var(--second--text-color);
    border: 1px solid var(--second--text-color);
    transition: .6s;
    box-shadow: 0 0 0 .3rem var(--second--text-color);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.social-icons a i{
    font-size: 2.5rem;
}

.social-icons a:hover{
    color: var(--bg-color);
    box-shadow:0 0 10px rgba(29, 184, 157, 0.6),
    0 0 20px rgba(29, 184, 157, 0.6),
    0 0 30px rgba(29, 184, 157, 0.6),
    0 0 40px rgba(29, 184, 157, 0.6),
    0 0 70px rgba(29, 184, 157, 0.6),
    0 0 80px rgba(29, 184, 157, 0.6),
    0 0 100px rgba(29, 184, 157, 0.6),
    0 0 150px rgba(29, 184, 157, 0.6);
}

.social-icons a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--second--text-color);
    transition: .6s;
    z-index: -1;
}

.social-icons a:hover::before{
    width: 100%;
}

.social-icons div{
    position: relative;
    width: 55px;
    aspect-ratio: 1/1;
    background-color: var(--second-bg-color);
    border-radius:100%;
}

.squares {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    width: 100%;
    height: 739px;
    overflow: hidden;
}

.squares li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 6s linear infinite;
    bottom: -150px;
}

.squares li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.squares li:nth-child(2) {
    left: 5%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 12s;
}

.squares li:nth-child(3) {
    left: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
}

.squares li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.squares li:nth-child(5) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.squares li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.squares li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 4s;
}

.squares li:nth-child(8) {
    left: 50%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 30s;
}

.squares li:nth-child(9) {
    left: 20%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 25s;
}

.squares li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.squares li:nth-child(11) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.squares li:nth-child(12) {
    left: 50%;
    width: 70px;
    height: 70px;
    animation-delay: 2s;
    animation-duration: 7s;
}

.squares li:nth-child(13) {
    left: 20%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.squares li:nth-child(14) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.squares li:nth-child(15) {
    left: 5%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 5s;
}

.squares li:nth-child(16) {
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 17s;
}

.squares li:nth-child(17) {
    left: 7%;
    width: 70px;
    height: 70px;
    animation-delay: 2s;
    animation-duration: 12s;
}

@keyframes animate {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* about section */
.about{
    position: relative;
    background-color: #202135;
    /*height: 739px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
}

.topic-content{
    margin-bottom: .2rem;
}

.topic1{
    color: var(--second--text-color);
    font-size: var(--topic-font);
}

.topic2{
    margin-top: 2rem;
    font-size: var(--second-topic-font);
    font-weight: 700;
}

.about-content{
    width: 500px;
}

.about-content h3{
    margin-bottom: 2rem;
}

.about-content p{
    margin-bottom: 2rem;
}

.btn2{
    background-color: var(--second-bg-color);
}

.about-img{
    position: relative;
    text-align: center;
    margin-right: 3rem;
}

.about-img img{
    max-width: 400px;
    height: auto;
}

.img-box>img{
    box-shadow:0 0 10px rgba(29, 184, 157, 0.6),
    0 0 20px rgba(29, 184, 157, 0.6),
    0 0 30px rgba(29, 184, 157, 0.6),
    0 0 40px rgba(29, 184, 157, 0.6),
    0 0 70px rgba(29, 184, 157, 0.6),
    0 0 80px rgba(29, 184, 157, 0.6),
    0 0 100px rgba(29, 184, 157, 0.6),
    0 0 140px rgba(29, 184, 157, 0.6);
}

/* qualification*/
.scroll {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

.topic-content2{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scroll__view {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    top: 0;
}
.scroll__overlays,
.scroll__hero {
    flex: 1 0 50%;
    @media screen and (max-width: 768px) {
        flex: 1 0 100%;
    }
}
.scroll__overlays {
    position: relative;
    z-index: 3;
}
.scroll__content {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    top: 0;
    position: relative;
    @media screen and (min-width: 768px) {
        position: sticky;
    }
    .scroll__text {
        background: var(--bg-color);
        padding: 2em;
        word-break: break-word;
        &:before {
            content: "";
            width: 100%;
            height: 50vh;
            background: var(--bg-color);
            /*background: linear-gradient(rgba(29, 184, 157, 0), white);*/
            position: absolute;
            top: 0;
            transform: translateY(calc(-100% + 1px));
        //that one pixel prevents border glitches in chrome
        @media screen and (max-width: 768px) {
            display: none;
        }
        }
    }
}
.scroll__hero {
    position: sticky;
    z-index: -1;
}
.scroll__sectionwrapper {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.rectangles {
    position: relative;
    padding-top: 100%;
}
.rectangle {
    width: 4.6%;
    height: 19.8%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: background 1s cubic-bezier(29, 184, 157, 0.89);
    transform: translate(-50%, -50%);
    opacity: 1;
// use transition for mobile or if skrollr fails
.no-skrollr &{
    transition: all 1s cubic-bezier(29, 184, 157,0.89);
}
}

/* STATE 1 */
.scroll__view[data-current="1"] {
    .rectangle-1 {
        background: #1DB88D;
        left: 38.327%;
        top: 29.239%;
        transform: translate(-50%, -50%) rotate(-24deg);
    }
    .rectangle-2 {
        background: #1DB87D;
        left: 62.575%;
        top: 30.343%;
        transform: translate(-50%, -50%) rotate(88deg);
    }
    .rectangle-3 {
        background: #1DB86D;
        left: 50.543%;
        top: 49.013%;
        transform: translate(-50%, -50%) rotate(32deg);
    }
    .rectangle-4 {
        background: #1DB88D;
        left: 44.362%;
        top: 70.482%;
        transform: translate(-50%, -50%) rotate(75deg);
    }
    .rectangle-5 {
        background: #1DB88D;
        left: 38.327%;
        top: 29.239%;
        transform: translate(-50%, -50%) rotate(-24deg);
    }
    .rectangle-6 {
        background: #1DB88D;
        left: 62.575%;
        top: 30.343%;
        transform: translate(-50%, -50%) rotate(88deg);
        opacity: 0;
    }
    .rectangle-7 {
        background: #1DB88D;
        left: 50.543%;
        top: 49.013%;
        transform: translate(-50%, -50%) rotate(32deg);
        opacity: 0;
    }
    .rectangle-8 {
        background: #1DB88D;
        left: 28.038%;
        top: 44.5%;
        transform: translate(-50%, -50%) rotate(-73deg);
    }
    .rectangle-9 {
        background: #1DB88D;
        left: 70.912%;
        top: 59.376%;
        transform: translate(-50%, -50%) rotate(-207deg);
    }
    .rectangle-10 {
        background: #1DB88D;
        left: 28.038%;
        top: 44.5%;
        transform: translate(-50%, -50%) rotate(-73deg) scaleY(1);
        opacity: 0;
    }
    .rectangle-11 {
        background: #1DB88D;
        left: 70.912%;
        top: 59.376%;
        transform: translate(-50%, -50%) rotate(-207deg) scaleY(1);
        opacity: 0;
    }
}

/* STATE 2 */

.scroll__view[data-current="2"] {
    .rectangle-1 {
        background: #1DB88D;
        left: 34.398%;
        top: 60.665%;
        transform: translate(-50%, -50%) rotate(27deg);
    }
    .rectangle-2 {
        background: #1DB77D;
        left: 44.698%;
        top: 60.665%;
        transform: translate(-50%, -50%) rotate(27deg);
    }
    .rectangle-3 {
        background: #1DB69D;
        left: 54.898%;
        top: 60.665%;
        transform: translate(-50%, -50%) rotate(27deg);
    }
    .rectangle-4 {
        background: #1DB59D;;
        left: 65.298%;
        top: 60.665%;
        transform: translate(-50%, -50%) rotate(27deg);
    }
    .rectangle-5 {
        background: #1DB49D;
        left: 34.398%;
        top: 60.665%;
        transform: translate(-50%, -50%) rotate(27deg);
        opacity: 0;
    }
    .rectangle-6 {
        background: #1DB89D;
        left: 44.698%;
        top: 60.665%;
        transform: translate(-50%, -50%) rotate(27deg);
        opacity: 0;
    }
    .rectangle-7 {
        background: #1DB89D;
        left: 54.898%;
        top: 60.665%;
        transform: translate(-50%, -50%) rotate(27deg);
        opacity: 0;
    }
    .rectangle-8 {
        background: #1DB39D;
        left: 24.898%;
        top: 60.665%;
        transform: translate(-50%, -50%) rotate(27deg);
    }
    .rectangle-9 {
        background: #1DB89D;
        left: 74.998%;
        top: 60.665%;
        transform: translate(-50%, -50%) rotate(27deg);
    }
    .rectangle-10 {
        background: #202135;
        left: 44.898%;
        top: 39.265%;
        transform: translate(-50%, -50%) rotate(27deg) scaleY(1);
        opacity: 0;
    }
    .rectangle-11 {
        background: #202135;
        left: 54.998%;
        top: 39.265%;
        transform: translate(-50%, -50%) rotate(27deg) scaleY(1);
        opacity: 0;
    }
}

/* STATE 3 */

.scroll__view[data-current="3"] {
    .rectangle-1 {
        background: #1DB89D;
        left: 42.4%;
        top: 56.9%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    .rectangle-2 {
        background: #1DB89D;
        left: 49.9%;
        top: 49.3%;
        transform: translate(-50%, -50%) rotate(90deg);
    }
    .rectangle-3 {
        background: #1DB89D;
        left: 57.6%;
        top: 56.9%;
        transform: translate(-50%, -50%) rotate(180deg);
    }
    .rectangle-4 {
        background: #1DB89D;
        left: 50%;
        top: 64.4%;
        transform: translate(-50%, -50%) rotate(270deg);
    }
    .rectangle-5 {
        background: #1DB89D;
        left: 49.9%;
        top: 49.3%;
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 0;
    }
    .rectangle-6 {
        background: #1DB89D;
        left: 49.9%;
        top: 49.3%;
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 0;
    }
    .rectangle-7 {
        background: #1DB89D;
        left: 50%;
        top: 64.4%;
        transform: translate(-50%, -50%) rotate(270deg);
        opacity: 0;
    }
    .rectangle-8 {
        background: #1DB86D;
        left: 44.456%;
        top: 41.827%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .rectangle-9 {
        background: #1DB86D;
        left: 55.327%;
        top: 41.756%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    .rectangle-10 {
        left: 55.327%;
        top: 41.756%;
        transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
        opacity: 0;
    }
    .rectangle-11 {
        background: #1DB86D;
        left: 55.327%;
        top: 41.756%;
        transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
        opacity: 0;
    }
}

/* STATE 4 */

.scroll__view[data-current="4"] {
    .rectangle-1 {
        background: #1DB89D;
        left: 36.5%;
        top: 56.8%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    .rectangle-2 {
        background: #1DB89D;
        left: 44%;
        top: 49.2%;
        transform: translate(-50%, -50%) rotate(90deg);
    }
    .rectangle-3 {
        background: #1DB89D;
        left: 55.8%;
        top: 56.9%;
        transform: translate(-50%, -50%) rotate(180deg);
    }
    .rectangle-4 {
        background: #1DB89D;
        left: 44%;
        top: 64.5%;
        transform: translate(-50%, -50%) rotate(270deg);
    }
    .rectangle-5 {
        background: #1DB89D;
        left: 58.4%;
        top: 49.2%;
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 1;
    }
    .rectangle-6 {
        background: #1DB89D;
        left: 66.1%;
        top: 56.9%;
        transform: translate(-50%, -50%) rotate(180deg);
        opacity: 1;
    }
    .rectangle-7 {
        background: #1DB89D;
        left: 58.4%;
        top: 64.5%;
        transform: translate(-50%, -50%) rotate(270deg);
        opacity: 1;
    }
    .rectangle-8 {
        background: #1DB86D;
        left: 38.529%;
        top: 41.8%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .rectangle-9 {
        background: #1DB86D;
        left: 49.327%;
        top: 41.656%;
        transform: translate(-50%, -50%) rotate(-45deg);
        z-index: 1; // kamin überdecken
    }
    .rectangle-10 {
        background: #1DB86D;
        left: 51.698%;
        top: 38.149%;
        transform: translate(-50%, -50%) rotate(0) scaleY(0.5);
        opacity: 1;
    }
    .rectangle-11 {
        background: #1DB86D;
        left: 62%;
        top: 48.098%;
        transform: translate(-50%, -50%) rotate(90deg) scaleY(0.75);
        opacity: 1;
    }
}

/* learn */
.learn{
    position: relative;
    background-color: var(--second-bg-color);
    top: 0;
    width: 100%;
    /*height: 300px;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 10%;
}

.learn>h4{
    position: absolute;
    width: 100%;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--second-topic-font);
}

.learn-content{
    position: absolute;
    margin-top: 4rem;
    /*top: 50%;*/
    transition: transform 1s;
}

.learn-content img:hover{
    transform: scale(1.5);
}

@media all and (max-width: 601px){
    .learn-content img{
        width: 55px;
    }
}

@media all and (max-width: 340px){
    .learn-content img{
        width: 45px;
    }
}

/*gallery*/
.gallery{
    position: relative;
    width: 100%;
    padding: 100px 10%;
    /*height: 739px;*/
}

.topic-content3{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 10%;
}

.swiper-slide {
    margin-top: 1rem;
    text-align: center;
    background: #202123;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-general {
    padding: 75px 0;
    /*margin: 5% auto;*/
    width: 1200px;
    /*box-shadow: 0 10px 16px rgba(0, 0, 0, 0.07)*/
}
.container-general .gallery-wrap {

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}
.container-general .gallery-wrap .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all ease-out .3s

}

.container-general .gallery-wrap .item:hover {
    flex: 7;
}

.wrap-effect-1 .item:first-of-type {
    background-image: url('../images/WhatsApp Image 15.56.01.jpg');
}
.wrap-effect-1 .item:nth-of-type(2) {
    background-image: url('../images/WhatsApp Image 2023-07-20 at 11.38.23.jpg');
    /*height: 100px;*/
}
.wrap-effect-1 .item:nth-of-type(3) {
    background-image: url('../images/image innovesta.jpg');
    /*height: 100px;*/
}
.wrap-effect-1 .item:nth-of-type(4) {
    background-image: url('../images/WhatsApp Image 2023-09-18 at 15.56.02.jpg');
}
.wrap-effect-1 .item:nth-of-type(5) {
    background-image: url('../images/WhatsApp Image 2023-09-18 at 15.56.00.jpg');
}
.wrap-effect-1 .item:last-of-type {
    background-image: url('../images/WhatsApp Image 2023-09-18 15.56.01.jpg');
}


/* assignment */
.assignment{
    position: relative;
    width: 100%;
    background-color: #202135;
    top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.topic-content4{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}

.card {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width: 80px;
    background: linear-gradient(90deg, #1DB89D 0%, #202135 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
}

.icon svg {
    fill: white;
}

.card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.list{
    display: none;
}

.link{
    display: none;
}

.title2{
    display: none;
}

.card:hover {
    height: 270px;
}

.card:hover .link{
    display: block;
    font-size: 50px;
    position: absolute;
    color: var(--second--text-color);
    top: 5%;
}

.card:hover .link:hover{
    box-shadow:0 0 10px rgba(29, 184, 157, 0.6),
    0 0 20px rgba(29, 184, 157, 0.6),
    0 0 30px rgba(29, 184, 157, 0.6),
    0 0 40px rgba(29, 184, 157, 0.6),
    0 0 70px rgba(29, 184, 157, 0.6),
    0 0 80px rgba(29, 184, 157, 0.6),
    0 0 100px rgba(29, 184, 157, 0.6),
    0 0 140px rgba(29, 184, 157, 0.6);
}

.card:hover .title{
    position: absolute;
    top: 16%;
}

.card:hover .title2{
    position: absolute;
    display: block;
    font-size: 0.7rem;
    width: 85%;
    top: 37%;
    text-align: center;
}

.card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}

.card:hover .list{
    display: block;
    position: absolute;
    top: 55%;
}

.card:hover .list > li >a{
    color: var(--second--text-color);
}

.card:hover .list > li >a:hover{
    color: var(--text-color);
}

.card:hover .icon {
    display: none;
}

/* project */
.project{
    position: relative;
    width: 100%;
    background-color: #202123;
}

.topic-content5{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-gallery{
    margin-top: 9rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 2rem;
}

.port-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: var(--second-bg-color);
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
}

.port-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.port-img img{
    width: 100%;
    opacity: 1;
    height: 100%;
    transition: .5s;
}

.port-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,.2),var(--hover-color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem;
}

.port-box:hover .port-content{
    opacity: 1;
}

.port-box:hover .port-img img{
    transform: scale(1.1);
}

.port-content h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.port-content p{
    font-size: .8rem;
    margin: 5px 0 30px 0;
    color: white;
}

.port-content a{
    background: var(--bg-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid var(--bg-color);
}

.port-content a i{
    font-size: 1.3rem;
    color: var(--text-color);
}

/* contact */
.contact{
    background: var(--second-bg-color);
    width: 100%;
    /*height: 789px;*/
    position: relative;
}

.topic-content6{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact form{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-top: 3rem;
}

.contact form input,
.contact form textarea{
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}

.contact form textarea{
    resize: none;
}

.formBtn{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.formBtn .btn{
    cursor: pointer;
    font-size: 1rem;
}

.text2{
    color: var(--text-color);
}

.btn4{
    background-color: var(--second-bg-color);
}

/* footer */
footer{
    background: var(--footer-color);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p{
    color: var(--text-color);
}

footer a{
    display: inline-flex;
    justify-content: center;
    color: var(--bg-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
}

footer a i{
    font-size: 1rem;
    color: var(--bg-color);
}


@media all and (max-width: 1195px){
    :root{
        --topic-font: 1.2rem;
        --second-topic-font: 2.2rem;
        --normal-font: 2.2rem;
        --button-font: 1.3rem;
        --neon-box-shadow: 0 0 .8rem white;
    }
    .main-text{
        font-size: 4.3rem;
    }
    .social-icons{
        display: flex;
        position: absolute;
        left: 38%;
        bottom: 6rem;
        justify-content: space-between;
        width: 280px;
        height: fit-content;
    }
}

@media all and (max-width: 1007px){
    .main-text{
        font-size: 4.0rem;
    }
}

@media all and (max-width: 991px){
    header,
    header.sticky{
        padding: 15px 5%;
    }

    footer{
        padding: 15px 5%;
    }

    section{
        padding: 50px 5%;
    }

    .navList a{
        padding: 8px 15px;
    }

    :root{
        --big-font:2.0rem;
        --normal-font: 1.8rem;
        --neon-box-shadow: 0 0 .5rem white;
        --h2-font: 3rem;
    }

    .home-details{
        margin-top: 5rem;
    }
}

@media all and (max-width: 812px) {
    :root{
        --topic-font: 1.2rem;
        --second-topic-font: 2.2rem;
        --normal-font: 1.8rem;
        --button-font: 1.3rem;
        --neon-box-shadow: 0 0 .5rem white;
    }
    .main-text{
        font-size: 3.5rem;
    }
    .navlist a{
        padding: 6px 16px;
    }
    .age{
        position: absolute;
        margin-top: 5rem;
        left: 32%;
    }

    .btn{
        position: absolute;
        left: 42%;
        /*top: 67%;*/
        background-color: var(--bg-color);
    }

    .social-icons{
        left: 33.5%;
    }
}

@media all and (max-width: 768px){

    #menu-icon{
        display: block;
        transition: all .4s ease;
    }

    #menu-icon.bx-x{
        transform: rotate(180deg);
    }

    .navlist{
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--bg-color);
        text-align: left;
        padding: 0 5%;
        transition: all .45s ease;
    }

    .navlist a{
        display: block;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    .navlist.open{
        top: 100%;
    }

    :root{
        --topic-font: 1.2rem;
        --second-topic-font: 1.5rem;
        --normal-font: 1.0rem;
        --button-font: 1.0rem;
        --neon-box-shadow: 0 0 .8rem white;
    }
    .main-text{
        font-size: 2.5rem;
    }

    .change-text{
        left: 25%;
    }

    .age{
        left: 26%;
        font-size: 1.7rem;
    }

    .btn{
        left: 39%;
    }

    .social-icons{
        left: 29%;
        bottom: 6rem;
        justify-content: space-between;
        width: 280px;
        height: fit-content;
    }
}

@media all and (max-width: 587px){
    .about{
        flex-direction: column;
    }
    .about-img{
        margin-right: unset;
    }
    .about-content{
        width: 270px;
    }
}

@media all and (max-width: 561px){
    :root{
        --topic-font: 1.2rem;
        --second-topic-font: 1.3rem;
        --normal-font: 1.0rem;
        --button-font: 0.8rem;
        --neon-box-shadow: 0 0 .8rem white;
    }
    .main-text{
        font-size: 2.2rem;
    }

    .change-text{
        left: 25%;
    }

    .age{
        left: 26%;
        font-size: 1.5rem;
    }

    .btn{
        left: 35%;
    }

    .social-icons{
        left: 20%;
    }

    footer p{
        font-size: .7rem;
    }
}

@media all and (max-width: 426px){
    :root{
        --topic-font: 0.8rem;
        --second-topic-font: 1.3rem;
        --normal-font: 1.0rem;
        --button-font: 0.8rem;
        --neon-box-shadow: 0 0 .8rem white;
    }
    .main-text{
        font-size: 2.0rem;
    }

    .change-text{
        left: 25%;
    }

    .age{
        left: 30%;
        font-size: 1.2rem;
    }

    .btn{
        left: 33%;
    }

    .social-icons{
        left: 17%;
    }

    .learn>h4{
        margin-bottom: 3rem;
    }

    .learn-content img{
        width: 40px;
    }

    .learn-content{
        margin-top: 2rem;
    }

    footer p{
        font-size: .6rem;
    }

    .about-img img{
        max-width: 300px;
    }
}

@media all and (max-width: 394px){
    .main-text{
        font-size: 2.0rem;
    }

    .change-text{
        left: 24%;
    }

    .age{
        left: 27%;
        font-size: 1.2rem;
    }

    .btn{
        left: 30%;
    }

    .social-icons{
        left: 14.5%;
    }

    .project-gallery{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media all and (max-width: 376px){
    :root{
        --topic-font: 0.8rem;
        --second-topic-font: 1.1rem;
        --normal-font: 1.0rem;
        --button-font: 0.8rem;
        --neon-box-shadow: 0 0 .8rem white;
    }
    .main-text{
        font-size: 1.9rem;
    }

    .change-text{
        left: 25%;
    }

    .age{
        left: 26%;
        font-size: 1.2rem;
    }

    .btn{
        left: 31%;
    }

    .social-icons{
        left: 12%;
    }

    footer p{
        font-size: .5rem;
    }
}

@media all and (max-width: 320px){
    :root{
        --topic-font: 0.8rem;
        --second-topic-font: 1.1rem;
        --normal-font: 1.0rem;
        --button-font: 0.8rem;
        --neon-box-shadow: 0 0 .8rem white;
    }
    .main-text{
        font-size: 1.9rem;
    }

    .change-text{
        left: 25%;
    }

    .age{
        left: 24%;
        font-size: 1.2rem;
    }

    .btn{
        left: 28%;
    }

    .social-icons{
        left: 6%;
    }
}

/*-------------------------------parallax---------*/

.scroll-scale{
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}

.scroll-bottom{
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}

.scroll-top{
    opacity: 0;
    transform: translateY(-300px);
    transition: 3s;
}

.show-items{
    opacity: 1;
    transform: translateX(0);
}