html{
    overflow-x: hidden!important;
}

body{
    background-color: #525252;
    width: 1520px;
    overflow-x: hidden;
    !important;
}

#home{
    z-index: 10;
    position: fixed;
    width: 1520px;
    height: 80px;
    background-color: #202123;
}

#home>h1{
    position: absolute;
    color: white;
    top: -15%;
    left: 5%;
    font-family: 'PT Sans';
    font-size: 45px;
}

.gradient {
    /*height:100vh;*/
    height: 80px;
    background: -moz-linear-gradient(53deg, #202123 0%, #1DB89D 50%, #202135 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #202123), color-stop(50%, #1DB89D), color-stop(100%, #202135)); /* safari4+,chrome */
    background: -webkit-linear-gradient(53deg, #202123 0%, #1DB89D 50%, #202135 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(53deg, #202123 0%, #1DB89D 50%, #202135 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(53deg, #202123 0%, #1DB89D 50%, #202135 100%); /* ie10+ */
    background: linear-gradient(37deg, #202123 0%, #1DB89D 50%, #202135 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1DB89D', endColorstr='#202123',GradientType=0 ); /* ie6-9 */
    background-size: 200% 200%;
    -webkit-animation: gradient_animation 5s ease infinite;
    -moz-animation: gradient_animation 5s ease infinite;
    animation: gradient_animation 5s ease infinite;
}

@keyframes gradient_animation {
    0% {
        background-position: 0% 50%; }
    50% {
        background-position: 100% 50%; }
    100% {
        background-position: 0% 50%; } }

@-webkit-keyframes gradient_animation {
    0% {
        background-position: 0% 50%; }
    50% {
        background-position: 100% 50%; }
    100% {
        background-position: 0% 50%; } }

@-moz-keyframes gradient_animation {
    0% {
        background-position: 0% 50%; }
    50% {
        background-position: 100% 50%; }
    100% {
        background-position: 0% 50%; } }

@-ms-keyframes gradient_animation {
    0% {
        background-position: 0% 50%; }
    50% {
        background-position: 100% 50%; }
    100% {
        background-position: 0% 50%; } }

#home>nav>ol>li{
    display: inline-block;
    margin-right: 25px;
}

#home>nav>ol>li>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}

#home>nav{
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 10px;
}


#pic>div>h1{
    display: inline;
}

#pic2{
    position: relative;
    width: 1520px;
    height: 739px;
    background-color: #202123;
}

#section1>div{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#section1>div>h3{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    font-weight: 800;
    color: #1DB89D;
}

#section1>div>h4{
    text-align: center;
}

#section1>div>div>button{
    text-align: center;
    font-size: 36px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    background-color: transparent;
    color: white;
    border: 2px solid #1DB89D;
    border-right: 10px solid #1DB89D ;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    left: 40%;
}

#section1>div>h3>span:first-child{
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 400;
}

#section1>div>h3>span:nth-child(2){
    font-size: 96px;
    font-family: 'Inter',sans-serif;
    font-weight: 800;
}

#section1>div>h4{
    font-size: 48px;
    font-family: 'Inter',sans-serif;
    font-weight: 400;
    color: white;
    opacity: 50%;
    margin-top: -70px;
}

#section1>.squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 1520px;
    height: 739px;
    overflow: hidden;
}

.squares li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 6s linear infinite;
    bottom: -150px;
}

.squares li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.squares li:nth-child(2) {
    left: 10%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 12s;
}

.squares li:nth-child(3) {
    left: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
}

.squares li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.squares li:nth-child(5) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.squares li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.squares li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 4s;
}

.squares li:nth-child(8) {
    left: 50%;
    width: 40px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 30s;
}

.squares li:nth-child(9) {
    left: 20%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 25s;
}

.squares li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.squares li:nth-child(11) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.squares li:nth-child(12) {
    left: 50%;
    width: 70px;
    height: 70px;
    animation-delay: 2s;
    animation-duration: 7s;
}

.squares li:nth-child(13) {
    left: 20%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.squares li:nth-child(14) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/*about*/
#about{
    position: relative;
    top: -16px;
    width: 1520px;
    height: 739px;
    background-color: #202135;
}

#about_topic>div{
    position: absolute;
    background-color: #1DB89D;
    top: 0%;
    left: 0%;
    width: 40%;
    height: 1%;
}

#about>section:nth-child(1)>h6{
    position: absolute;
    color: #1DB89D;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    right: 15%;
    top: 0%;
}

#about>section:nth-child(1)>h3{
    position: absolute;
    color: white;
    font-size: 64px;
    font-weight: bold;
    font-family: sans-serif;
    right: 15%;
    top: 6%;
}

#about>section:nth-child(2)>p{
    position: absolute;
    color: white;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    opacity: 80%;
    width: 65%;
    text-align: left;
    right: 15%;
    top: 27%;
}

#about>section:nth-child(2)>ul>li{
    position: absolute;
    font-size: 24px;
    font-family: sans-serif;
    color: #1DB89D;
}

#about>section:nth-child(2)>ul>li:nth-child(1){
    top: 53%;
    left: 20%;
}
#about>section:nth-child(2)>ul>li:nth-child(1)>span:nth-child(2){
    margin-left: 25px;
}

#about>section:nth-child(2)>ul>li:nth-child(2){
    top: 53%;
    left: 60%;
}
#about>section:nth-child(2)>ul>li:nth-child(2)>span:nth-child(2){
    margin-left: 25px;
}

#about>section:nth-child(2)>ul>li:nth-child(3){
    top: 60%;
    left: 20%;
}
#about>section:nth-child(2)>ul>li:nth-child(3)>span:nth-child(2){
    margin-left: 90px;
}

#about>section:nth-child(2)>ul>li:nth-child(4){
    top: 60%;
    left: 60%;
}
#about>section:nth-child(2)>ul>li:nth-child(4)>span:nth-child(2){
    margin-left: 50px;
}

#about>section:nth-child(2)>ul>li:nth-child(5){
    top: 67%;
    left: 20%;
}
#about>section:nth-child(2)>ul>li:nth-child(5)>span:nth-child(2){
    margin-left: 50px;
}

#about>section:nth-child(2)>ul>li:nth-child(6){
    top: 67%;
    left: 60%;
}
#about>section:nth-child(2)>ul>li:nth-child(6)>span:nth-child(2){
    margin-left: 70px;
}

#about>section:nth-child(2)>ul>li:nth-child(7){
    top: 74%;
    left: 20%;
}
#about>section:nth-child(2)>ul>li:nth-child(7)>span:nth-child(2){
    margin-left: 75px;
}

#about>section:nth-child(2)>ul>li:nth-child(8){
    top: 74%;
    left: 60%;
}
#about>section:nth-child(2)>ul>li:nth-child(8)>span:nth-child(2){
    margin-left: 30px;
}

#about>section:nth-child(2)>ul>li>.first{
    color: white;
    opacity: 50%;
}

#about>section:nth-child(2)>ul>li>.two{
    color: white;
}

#about>section:nth-child(2)>div{
    position: absolute;
    right: 40%;
    top: 85%;
}

#about_social_media_icon>a>img{
    width: 50px;
}

/*qualification*/
#qualification{
    position: relative;
    top: -16px;
    width: 1520px;
    height: 2400px;
    background-color: #202123;
}

#qualification>section:first-child>div{
    position: absolute;
    background-color: #1DB89D;
    top: 0%;
    right: 0%;
    width: 40%;
    height: 0.3%;
}

#qualification>section:nth-child(1)>h6{
    position: absolute;
    color: #1DB89D;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    top: 0%;
    right: 48%;
}

#qualification>section:nth-child(1)>h3{
    position: absolute;
    color: white;
    font-size: 64px;
    font-weight: bold;
    font-family: sans-serif;
    top: 3%;
    right:36%;
}

#qualification>section:nth-child(2)>#div1{
    position: absolute;
    border: 5px solid #1DB89D;
    width: 26%;
    height: 9%;
    top: 13%;
    left: 15%;
}

#qualification>section:nth-child(2)>#div1>h5:nth-child(1){
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    top: -5%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

#qualification>section:nth-child(2)>#div1>h5:nth-child(2){
    position: absolute;
    color: white;
    font-size: 24px;
    opacity: 90%;
    font-family: sans-serif;
    text-align: center;
    top: 28%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

#qualification>section:nth-child(2)>#div1>h5:nth-child(3){
    position: absolute;
    color: white;
    font-size: 24px;
    opacity: 60%;
    font-family: sans-serif;
    text-align: center;
    top: 49%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

#qualification>section:nth-child(2)>img:nth-child(1){
    position: absolute;
    width: 75px;
    top: 12%;
    left: 14.4%;
}

#div3{
    position: absolute;
    width: 0.5%;
    height: 4%;
    background-color: white;
    opacity: 50%;
    top: 22.5%;
    left: 28%;
}

#div4{
    position: absolute;
    width: 19.5%;
    height: 0.3%;
    background-color: white;
    opacity: 50%;
    top: 26.5%;
    left: 28%;
}

#div5{
    position: absolute;
    width: 52px;
    height: 52px;
    background-color: #1DB89D;
    top: 25.55%;
    left: 48.01%;
    transform: rotate(45deg);

}

#div6{
    position: absolute;
    width: 19.9%;
    height: 0.3%;
    background-color: white;
    opacity: 50%;
    top: 26.5%;
    right: 28.1%;
}

#div7{
    position: absolute;
    width: 0.5%;
    height: 4%;
    background-color: white;
    opacity: 50%;
    right: 28.1%;
    top: 26.8%;
}

#qualification>section:nth-child(2)>#div2{
    position: absolute;
    border: 5px solid #1DB89D;
    width: 26%;
    height: 9%;
    top: 30.8%;
    right: 15%;
}

#qualification>section:nth-child(2)>#div2>h5:nth-child(1){
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    top: -7%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

#qualification>section:nth-child(2)>#div2>h5:nth-child(2){
    position: absolute;
    color: white;
    font-size: 24px;
    opacity: 90%;
    text-align: center;
    font-family: sans-serif;
    top: 26%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

#qualification>section:nth-child(2)>#div2>h5:nth-child(3){
    position: absolute;
    color: white;
    font-size: 24px;
    opacity: 60%;
    text-align: center;
    font-family: sans-serif;
    top: 56%;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

#img2{
    position: absolute;
    width: 75px;
    top: 39.3%;
    right: 14.3%;
}

#qualification>section:nth-child(3)>h3{
    position: absolute;
    color: white;
    font-size: 64px;
    font-weight: bold;
    font-family: sans-serif;
    top: 43%;
    right:40%;
}

#qualification>section:nth-child(3)>#img3{
    position: absolute;
    width: 400px;
    height: 350px;
    top: 53%;
    left: 20%;
}

#qualification>section:nth-child(3)>#h5text {
    position: absolute;
    width: 20%;
    height: 4%;
    color: white;
    opacity: 60%;
    font-family: sans-serif;
    font-size: 24px;
    top: 55%;
    right: 20%;
}

#h5text2{
    position: absolute;
    color: #1DB89D;
    font-family: sans-serif;
    font-size: 24px;
    top: 69%;
    left: 20%;
}

#span1{
    color: white;
}

#h5text3{
    position: absolute;
    width: 30%;
    color: white;
    opacity: 60%;
    font-family: sans-serif;
    font-size: 24px;
    top: 72.5%;
    left: 20%;
}

#span2{
    color: #FF0000;
    opacity: 95%;
}

#img4{
    position: absolute;
    top: 74%;
    right: 20%;
    width: 280px;
}

#img5{
    position: absolute;
    width: 480px;
    top: 81.7%;
    left: 20%;
}

#qualification>section:nth-child(3)>button{
    position: absolute;
    background-color: #202123;
    border: 5px solid #1DB89D;
    color: white;
    font-weight: bold;
    font-size: 36px;
    top: 94%;
    right: 25%;
}

#qualification>section:nth-child(3)>div{
    position: absolute;
    background-color: #1DB89D;
    bottom: 0%;
    left: 0%;
    width: 40%;
    height: 0.3%;
}

/* what I learnt */
#learn{
    position: relative;
    top: -16px;
    background-color: #202135;
    width: 1520px;
    height: 350px;
}

#learn>h4{
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    top: 9%;
    left: 10%;
}

#div8>img:nth-child(1){
    width: 96px;
}

#div8>img:nth-child(2){
    width: 96px;
}

#div8>img:nth-child(3){
    width: 96px;
}

#div8>img:nth-child(4){
    width: 96px;
}

#div8>img:nth-child(5){
    width: 96px;
}

#div8>img:nth-child(6){
    width: 96px;
}

#learn>#div8{
    position: absolute;
    left: 30%;
    top: 50%;
}

#learn>#div9{
    position: absolute;
    background-color: #1DB89D;
    bottom: 0%;
    right: 0%;
    width: 40%;
    height: 2%;
}

/* gallery */
#gallery{
    position: relative;
    top: -16px;
    height: 739px;
    width: 1520px;

}

#gallery>section>#galary_photo{
    background-image: url("../images/gallery.jpg");
    background-size: cover;
    background-position: center;
    width: 1520px;
    height: 739px;
}

#galary_photo>{
    display: block;
    position: absolute;
    width: 1440px;
    height: 700px;
    background: black;
    bottom: 0;
    z-index: 99;
}

#gallery_opacity{
    width: 1270px;
    height: 590px;
    background: black;
    opacity: 40%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
}

#gallery>section>h4{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10%;
    font-size: 75px;
    font-family: 'Allura', cursive;
    left: 43%;
    color: white;
    text-align: center;
}

#gallery>section>h3{
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 64px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 32%;
    left: 40%;
    text-align: center;
}

#gallery>section>a>button{
    width: 188px;
    height: 64px;
    background: #1DB89D;
    color: white;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 58%;
    left: 45%;
}

#gallery>section>h6{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    color: white;
    opacity: 60%;
    position: absolute;
    top: 64%;
    left: 44.3%;
    text-align: center;
}

/* assignment */
#assignment{
    position: relative;
    top: -16px;
    width: 1520px;
    height: 739px;
    background-color: #202123;
}

#assignment>div:nth-child(1){
    position: absolute;
    background-color: #1DB89D;
    top: 0%;
    left: 0%;
    width: 40%;
    height: 1%;
}


#assignment>section>h6{
    position: absolute;
    color: #1DB89D;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    top: 0%;
    left: 15%;
}

#assignment>section>h3{
    position: absolute;
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    font-weight: bold;
    top: 3%;
    left:15%;
}

#assignment1>img{
    position: absolute;
    width: 300px;
    top: 30%;
    left: 16%;
}

#assignment1>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 36px;
    top: 25%;
    left: 19.5%;
}

#assignment1>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    top: 52%;
    left: 20.5%;
}

#assignment1>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment1>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment1>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment1>div>ol>li>a{
    color: white;
}

#assignment2>img{
    position: absolute;
    width: 300px;
    top: 30%;
    left: 40.1%;
}
#assignment2>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 36px;
    top: 25%;
    left: 43%;
}

#assignment2>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    top: 52%;
    left: 45%;
}

#assignment2>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment2>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment2>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment2>div>ol>li>a{
    color: white;
}

#assignment3>img{
    position: absolute;
    width: 300px;
    top: 30%;
    right: 16%;
}

#assignment3>h5{
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 36px;
    top: 25%;
    left: 67%;
}

#assignment3>div{
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #202123;
    border-radius: 100%;
    top: 52%;
    left: 69.5%;
}

#assignment3>div>img{
    position: absolute;
    width: 40px;
    top: 13%;
    left: 35%;
}

#assignment3>div>ol{
    position: absolute;
    top: 38%;
    left: -14%;

}

#assignment3>div>ol>li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
}

#assignment3>div>ol>li>a{
    color: white;
}

#button{
    width: 27%;
    height: 64px;
    background: #1DB89D;
    color: white;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 37%;
    bottom: 10%;
}

#div10{
    position: absolute;
    background-color: #1DB89D;
    bottom: 0%;
    right: 0%;
    width: 40%;
    height: 1%;
}

/* project */
#project{
    position: relative;
    top: -16px;
    width: 1520px;
    height: 739px;
    background-color: #202135;
}

#project>section>h6:first-child{
    position: absolute;
    color: #1DB89D;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    top: 0%;
    right: 48%;
}

#project>section>h3{
    position: absolute;
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    font-weight: bold;
    top: 3%;
    right:28%;
}

#project1{
    position: absolute;
    width: 600px;
    top: 30%;
    left: 31%;
}

#project>section>h5{
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    top: 82%;
    left: 40%;
}

#h6{
    position: absolute;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
    top: 84%;
    left: 47%;
    opacity: 60%;
}

#project2{
    position: absolute;
    width: 100px;
    top: 22%;
    left: 27%;
    transform: rotate(135deg);
}

#project3{
    position: absolute;
    width: 100px;
    top: 79%;
    right: 26%;
    transform: rotate(315deg);
}



/* contact me */
#contact{
    position: relative;
    background-color: #202123;
    top: -16px;
    width: 1520px;
    height: 739px;
}

#div12{
    position: absolute;
    background-color: #1DB89D;
    top: 0%;
    left: 0%;
    width: 40%;
    height: 1%;
}

#contact>section>h6{
    position: absolute;
    color: #1DB89D;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    top: 0%;
    right: 48%;
}

#contact>section>h3{
    position: absolute;
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    font-weight: bold;
    top: 3%;
    right:28%;
}

#contact>h5{
    position: absolute;
    font-size: 36px;
    color: white;
    font-family: sans-serif;
    top: 20%;
    left: 18%;
}

#contact>form{
    position: absolute;
    background-color: #202123;
    border: 4px solid #1DB89D ;
    width: 35%;
    height: 54%;
    top: 40%;
    left: 16%;
}

#input1{
    position: absolute;
    background-color: #202135;
    border-radius: 25px;
    border: 2px solid #1DB89D;
    font-size: 32px;
    font-family: sans-serif;
    text-align: left;
    width: 460px;
    height: 48px;
    top: 10%;
    left: 5%;
}

#input2{
    position: absolute;
    background-color: #202135;
    border-radius: 25px;
    border: 2px solid #1DB89D;
    font-size: 32px;
    font-family: sans-serif;
    text-align: left;
    width: 460px;
    height: 48px;
    top: 35%;
    left: 5%;
}

#contact>form>textarea{
    position: absolute;
    background-color: #202135;
    border-radius: 25px;
    border: 2px solid #1DB89D;
    font-size: 32px;
    font-family: sans-serif;
    text-align: left;
    width: 460px;
    height: 65px;
    top: 60%;
    left: 5%;
}

#contact>form>button{
    width: 30%;
    height: 12%;
    background: #1DB89D;
    color: #202123;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 85%;
    left: 33%;
}

#contact>img{
    position: absolute;
    width: 350px;
    height: 300px;
    right: 16%;
    top: 45%;
}

footer{
    position: relative;
    top: -16px;
    background-color: #525252;
}

#footer1{
    background-color: #202135;
    width: 1520px;
    height: 100px;
}

#footer1>ol{
    position: absolute;
    /*left: 8%;*/
    left: 120px;
    /*right: 8%;*/

}

#footer1>ol>li{
    display: inline-block;
    margin-left:40px;
}

#footer1>ol>li>a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#div13{
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: white;
    top: 7%;
    /*left: 19.5%;*/
    left: 295px;
}

#div14{
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: white;
    top: 7%;
    /*left: 30.5%;*/
    left: 460px;
}

#div15{
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: white;
    top: 7%;
    /*left: 44%;*/
    left: 665px;
}

#div16{
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: white;
    top: 7%;
    /*left: 52.5%;*/
    left: 795px;
}

#div17{
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: white;
    top: 7%;
    /*left: 65%;*/
    left: 985px;
}

#div18{
    position: absolute;
    width: 3px;
    height: 45px;
    background-color: white;
    top: 7%;
    /*left: 73.5%;*/
    left: 1115px;
}

#footer2{
    background-color: #525252;
    width: 1520px;
    height: 280px;
    bottom: -10%;
}

#footer2>ol{
    position: absolute;
    width: 500px;
    height: 50px;
    bottom: 32%;
    /*left: 6%;*/
    left: 190px;
}

#footer2>ol>li{
    list-style: none;
    /*margin-left: 5%;*/
    margin-left: 10px;
    display: inline-block;
}

#footer2>ol>li>a>img{
    width: 70px;
}

#ol1{
    position: absolute;
    /*right: 35%;*/
    right: 550px;
    bottom: 8%;

}

#ol1>li{
    list-style: none;
    margin-top: 25px;
}

#ol1>li>img{
    width: 45px;
}

#ol2{
    position: absolute;
    /*right: 15%;*/
    right: 220px;
    bottom: 5%;
}

#ol2>li{
    list-style: none;
    margin-top: 30px;
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

#div19>ol>li{
    list-style: none;
}

#footer2>h6{
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    opacity: 60%;
    bottom: -10%;
    /*left: 14%;*/
    left: 210px;
}

 /*1440 laptop size */
@media all and (max-width: 1440px) {
    /*home*/
    body{
        width: 1440px;
    }

    #home{
        width: 1440px;
        height: 80px;
    }


    #pic2{
        width: 1440px;
    }

    #section1>.squares {
        width: 1440px;
    }

    /*about*/
    #about{
        width: 1440px;
    }

    /*qualification*/
    #qualification{
        width: 1440px;
    }

    /* what I learnt */
    #learn{
        width: 1440px;
    }

    /* gallery */
    #gallery{
        width: 1440px;
    }

    #gallery>section>#galary_photo{
        width: 1440px;
    }

    #gallery_opacity{
        width: 1200px;
    }

    /* assignment */
    #assignment{
        width: 1440px;
    }

    #assignment1>div{
        left: 21.2%;
    }

    #assignment2>img{
        left: 39.5%;
    }
    #assignment2>h5{
        left: 42.5%;
    }

    #assignment3>h5{
        left: 66.5%;
    }

    #assignment3>div{
        left: 68.4%;
    }

    #button{
        width: 30%;
        left: 36%;
    }

    /* project */
    #project{
        width: 1440px;
    }

    #project>section>h6:first-child{
        right: 47%;
    }

    #project>section>h3{
        right:26%;
    }

    #project1{
        left: 29%;
    }

    #project>section>h5{
        left: 38.5%;
    }

    #h6{
        left: 46%;
    }

    #project2{
        left: 25%;
    }

    #project3{
        right: 25%;
    }

    /* contact me */
    #contact{
        width: 1440px;
    }

    #contact>section>h3{
        right:24%;
    }

    #contact>form{
        width: 36%;
    }

    #footer1{
        width: 1440px;
    }

    #footer1>ol{
        left: 107px;
    }

    #div13{
        left: 283px;
    }

    #div14{
        left: 449px;
    }

    #div15{
        left: 650px;
    }

    #div16{
        left: 785px;
    }

    #div17{
        left: 973px;
    }

    #div18{
        left: 1103px;
    }

    #footer2{
        width: 1440px;
    }
}

@media all and (max-width: 1024px) {
    body {
        width: 1024px;
    }

    #home {
        width: 1024px;
        height: 60px;
    }

    #pic2 {
        width: 1024px;
    }

    #section1 > .squares {
        width: 1024px;
    }

    .gradient {
        height: 60px;
    }

    #home > h1 {
        top: -30%;
    }

    #home > nav > ol > li {
        margin-right: 20px;
    }

    #home > nav > ol > li > a {
        font-size: 17px;
    }

    #home > nav {
        margin-top: 5px;
    }

    #section1 > div > h3 {
        font-size: 65px;
    }

    #section1 > div > div > button {
        font-size: 32px;
    }

    #section1 > div > h3 > span:first-child {
        font-size: 40px;
    }

    #section1 > div > h3 > span:nth-child(2) {
        font-size: 96px;
    }

    #section1 > div > h4 {
        font-size: 40px;
        margin-top: -40px;
    }

    /*about*/
    #about {
        width: 1024px;
    }

    #about > section:nth-child(1) > h6 {
        font-size: 22px;
    }


    #about > section:nth-child(1) > h3 {
        font-size: 55px;
    }

    #about > section:nth-child(2) > p {
        font-size: 28px;
    }

    #about > section:nth-child(2) > ul > li {
        font-size: 17px;
    }

    #about > section:nth-child(2) > ul > li:nth-child(1) {
        top: 55%;
        left: 20%;
    }

    #about > section:nth-child(2) > ul > li:nth-child(2) {
        top: 55%;
        left: 60%;
    }

    #about > section:nth-child(2) > ul > li:nth-child(3) {
        top: 62%;
        left: 20%;
    }

    #about > section:nth-child(2) > ul > li:nth-child(4) {
        top: 62%;
        left: 60%;
    }

    #about > section:nth-child(2) > ul > li:nth-child(5) {
        top: 69%;
        left: 20%;
    }

    #about > section:nth-child(2) > ul > li:nth-child(6) {
        top: 69%;
        left: 60%;
    }

    #about > section:nth-child(2) > ul > li:nth-child(7) {
        top: 76%;
        left: 20%;
    }

    #about > section:nth-child(2) > ul > li:nth-child(8) {
        top: 76%;
        left: 60%;
    }

    /*qualification*/
    #qualification {
        height: 1850px;
        width: 1024px;
    }

    #qualification > section:nth-child(1) > h6 {
        font-size: 22px;
        right: 45%;
    }

    #qualification > section:nth-child(1) > h3 {
        font-size: 55px;
        right: 30%;
    }

    #qualification > section:nth-child(2) > #div1 > h5:nth-child(1) {
        font-size: 18px;
        top: 5%;
    }

    #qualification > section:nth-child(2) > #div1 > h5:nth-child(2) {
        font-size: 18px;
        top: 36%;
    }

    #qualification > section:nth-child(2) > #div1 > h5:nth-child(3) {
       font-size: 18px;
        top: 56%;
    }

    #qualification > section:nth-child(2) > img:nth-child(1) {
        top: 11%;
    }

    #div4 {
        width: 18.4%;
    }

    #div5 {
        top: 25.25%;
        left: 47.4%;
    }

    #div6 {
        width: 18.4%;
    }

    #qualification > section:nth-child(2) > #div2 > h5:nth-child(1) {
        font-size: 18px;
        top: -4%;
    }

    #qualification > section:nth-child(2) > #div2 > h5:nth-child(2) {
        font-size: 18px;
        top: 26%;
    }

    #qualification > section:nth-child(2) > #div2 > h5:nth-child(3) {
        font-size: 18px;
        top: 58%;
    }

    #img2 {
        width: 70px;
    }

    #qualification > section:nth-child(3) > h3 {
        font-size: 55px;
        right: 35%;
    }

    #qualification > section:nth-child(3) > #img3 {
        width: 350px;
        height: 300px;
    }

    #qualification > section:nth-child(3) > #h5text {
        font-size: 20px;
    }

    #h5text2 {
        font-size: 20px;
    }

    #span1 {
        color: white;
    }

    #h5text3 {
        font-size: 20px;
        top: 72.5%;
        left: 20%;
    }

    #span2 {
        color: #FF0000;
        opacity: 95%;
    }

    #img4 {
        width: 230px;
    }

    #img5 {
        width: 310px;
        top: 85%;
    }

    #qualification > section:nth-child(3) > button {
        top: 93.5%;
        right: 20%;
    }

    /* what I learnt */
    #learn{
        width: 1024px;
    }

    #learn>h4{
        font-size: 36px;
        top: 9%;
        left: 10%;
    }

    #learn>#div8{
        left: 20%;
    }

    /* gallery */
    #gallery{
        width: 1024px;
    }

    #gallery>section>#galary_photo{
        width: 1024px;
    }

    #galary_photo>{
        width: 1000px;
        height: 700px;
    }

    #gallery_opacity{
        width: 850px;
        height: 570px;
    }

    #gallery>section>h4{
        top: 10%;
        font-size: 75px;
        left: 39%;
    }

    #gallery>section>h3{
        font-size: 55px;
        top: 32%;
        left: 36%;
    }

    #gallery>section>a>button{
        width: 180px;
        height: 55px;
        font-size: 32px;
        top: 54%;
        left: 42%;
    }

    #gallery>section>h6{
        font-size: 28px;
        top: 60%;
        left: 41%;
    }

    /* assignment */
    #assignment{
        width: 1024px;
    }

    #assignment>section>h6{
        font-size: 22px;
    }

    #assignment>section>h3{
        font-size: 55px;
    }

    #assignment1>img{
        width: 220px;
        top: 35%;
        left: 16%;
    }

    #assignment1>h5{
        font-size: 30px;
        top: 30%;
        left: 18%;
    }

    #assignment1>div{
        width: 120px;
        height: 120px;
        top: 52%;
        left: 21%;
    }

    #assignment1>div>img{
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment1>div>ol{
        top: 38%;
        left: -20%;
    }

    #assignment1>div>ol>li{
        font-size: 20px;
    }

    #assignment2>img{
        width: 220px;
        top: 35%;
        left: 39.3%;
    }

    #assignment2>h5{
        font-size: 30px;
        top: 30%;
        left: 41.5%;
    }

    #assignment2>div{
        width: 120px;
        height: 120px;
        top: 52%;
        left: 44.5%;
    }

    #assignment2>div>img{
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment2>div>ol{
        top: 38%;
        left: -20%;
    }

    #assignment2>div>ol>li{
        font-size: 20px;
    }

    #assignment3>img{
        width: 220px;
        top: 35%;
        right: 16%;
    }

    #assignment3>h5{
        font-size: 30px;
        top: 30%;
        left: 64.5%;
    }

    #assignment3>div{
        width: 120px;
        height: 120px;
        top: 52%;
        left: 67.5%;
    }

    #assignment3>div>img{
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment3>div>ol{
        top: 38%;
        left: -20%;
    }

    #assignment3>div>ol>li{
        font-size: 20px;
    }

    #button{
        width: 36%;
        height: 60px;
        font-size: 32px;
        left: 30%;
    }

    /*project*/
    #project{
        width: 1024px;
    }

    #project>section>h6:first-child{
        font-size: 22px;
        top: 0%;
        right: 48%;
    }

    #project>section>h3{
        font-size: 55px;
        top: 3%;
        right:20%;
    }

    #project1{
        width: 500px;
        top: 30%;
        left: 25.5%;
    }

    #project>section>h5{
        font-size: 22px;
        top: 82%;
        left: 35%;
    }

    #h6{
        font-size: 22px;
        top: 84%;
        left: 44%;
    }

    #project2{
        width: 90px;
        top: 22%;
        left: 20%;
    }

    #project3{
        width: 90px;
        top: 70%;
        right: 20%;
    }

    /* contact me */
    #contact{
        width: 1024px;
    }

    #contact>section>h6{
        font-size: 22px;
        right: 45%;
    }

    #contact>section>h3{
        font-size: 55px;
        right:18%;
    }

    #contact>h5{
        font-size: 33px;
        top: 20%;
        left: 18%;
    }

    #input1{
        font-size: 30px;
        width: 330px;
        height: 48px;
        top: 10%;
        left: 5%;
    }

    #input2{
        font-size: 30px;
        width: 330px;
        height: 48px;
        top: 35%;
        left: 5%;
    }

    #contact>form>textarea{
        font-size: 30px;
        width: 330px;
        height: 65px;
        top: 60%;
        left: 5%;
    }

    #contact>form>button{
        width: 33%;
        height: 12%;
        font-size: 30px;
        top: 85%;
        left: 33%;
    }

    #contact>img{
        width: 300px;
        height: 250px;
        right: 16%;
        top: 49%;
    }

    #footer1{
        width: 1024px;
        height: 90px;
    }

    #footer1>ol{
        left: 20px;
    }

    #footer1>ol>li{
        margin-left:35px;
    }

    #footer1>ol>li>a{
        font-size: 23px;
    }

    #div13{
        left: 170px;
    }

    #div14{
        left: 300px;
    }

    #div15{
        left: 465px;
    }

    #div16{
        left: 572px;
    }

    #div17{
        left: 720px;
    }

    #div18{
        left: 825px;
    }

    #footer2{
        width: 1024px;
        height: 280px;
        bottom: -10%;
    }

    #footer2>ol{
        width: 500px;
        height: 50px;
        bottom: 32%;
        left: 100px;
    }

    #footer2>ol>li{
        margin-left: 10px;
    }

    #footer2>ol>li>a>img{
        width: 50px;
    }

    #ol1{
        right: 450px;
        bottom: 12.5%;

    }

    #ol1>li{
        margin-top: 27px;
    }

    #ol1>li>img{
        width: 35px;
    }

    #ol2{
        right: 150px;
        bottom: 5%;
    }

    #ol2>li{
        margin-top: 22px;
        font-size: 24px;
    }

    #footer2>h6{
        font-size: 22px;
        bottom: -10%;
        left: 150px;
    }
}

@media all and (max-width: 768px){
    body {
        width: 768px;
    }

    #home {
        width: 768px;
        height: 60px;
    }

    #pic2 {
        width: 768px;
    }

    #section1 > .squares {
        width: 768px;
    }

    .gradient {
        height: 60px;
    }

    #home > h1 {
        top: -30%;
    }

    #home > nav > ol > li {
        margin-right: 20px;
    }

    #home > nav > ol > li > a {
        font-size: 17px;
    }

    #home > nav {
        margin-top: 5px;
    }

    #section1>div>h3{
        font-size: 65px;
     }

    #section1>div>h4{
        text-align: center;
    }

    #span3{
        top: 13%;
        left: 40%;
    }

    #section1>div>div>button{
        font-size: 21px;
        left: 40%;
    }

    #section1>div>h3>span:first-child{
        font-size: 35px;
        margin-top: -15px;
        top: 13% !important;
        left: 40% !important;
    }

    #section1>div>h3>span:nth-child(2){
        font-size: 65px;
    }

    #section1>div>h4{
        font-size: 35px;
        margin-top: -55px;
    }

    /*about*/
    #about{
        top: -16px;
        width: 768px;
        height: 739px;
    }

    #about>section:nth-child(1)>h6{
        font-size: 15px;
        right: 15%;
    }

    #about>section:nth-child(1)>h3{
        font-size: 45px;
        right: 15%;
        top: 6%;
    }

    #about>section:nth-child(2)>p{
        font-size: 20px;
        width: 65%;
        right: 15%;
        top: 27%;
    }

    #about>section:nth-child(2)>ul>li{
        font-size: 15px;
    }

    #about>section:nth-child(2)>ul>li:nth-child(1){
        top: 55%;
        left: 20%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(2){
        top: 55%;
        left: 62%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(3){
        top: 62%;
        left: 20%;
    }
     #about>section:nth-child(2)>ul>li:nth-child(4){
         top: 62%;
         left: 62%;
     }

    #about>section:nth-child(2)>ul>li:nth-child(5){
        top: 69%;
        left: 20%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(6){
        top: 69%;
        left: 62%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(7){
        top: 76%;
        left: 20%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(8){
        top: 76%;
        left: 62%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(1)>span:nth-child(2){
        margin-left: 7px;
    }

    #about>section:nth-child(2)>ul>li:nth-child(2)>span:nth-child(2){
        margin-left: 18px;
    }

    #about>section:nth-child(2)>ul>li:nth-child(3)>span:nth-child(2){
        margin-left: 50px;
    }

    #about>section:nth-child(2)>ul>li:nth-child(4)>span:nth-child(2){
        margin-left: 39px;
    }

    #about>section:nth-child(2)>ul>li:nth-child(5)>span:nth-child(2){
        margin-left: 25px;
    }

    #about>section:nth-child(2)>ul>li:nth-child(6)>span:nth-child(2){
        margin-left: 52px;
    }

    #about>section:nth-child(2)>ul>li:nth-child(7)>span:nth-child(2){
        margin-left: 42px;
    }

    #about>section:nth-child(2)>ul>li:nth-child(8)>span:nth-child(2){
        margin-left: 23px;
    }

    #about>section:nth-child(2)>div{
        right: 25%;
        top: 85%;
    }

    #about_social_media_icon>a>img{
        width: 45px;
    }

    /*qualification*/
    #qualification {
        height: 1450px;
        width: 768px;
    }

    #qualification > section:nth-child(1) > h6 {
        font-size: 15px;
        right: 48%;
    }

    #qualification > section:nth-child(1) > h3 {
        font-size: 45px;
        right: 28%;
        top: 2%;
    }

    #qualification>section:nth-child(2)>#div1{
        width: 26%;
        height: 9%;
        top: 11%;
        left: 15%;
    }

    #qualification > section:nth-child(2) > #div1 > h5:nth-child(1) {
        font-size: 15px;
        top: 5%;
    }

    #qualification > section:nth-child(2) > #div1 > h5:nth-child(2) {
        font-size: 15px;
        top: 36%;
    }

    #qualification > section:nth-child(2) > #div1 > h5:nth-child(3) {
        font-size: 15px;
        top: 56%;
    }

    #qualification > section:nth-child(2) > img:nth-child(1) {
        top: 10%;
        width: 60px;
    }

    #div3{
        top: 20.5%;
    }

    #div4 {
        top: 24.5%;
        width: 18.4%;
    }

    #div5 {
        width: 42px;
        height: 42px;
        top: 23.20%;
        left: 47.4%;
    }

    #div6 {
        width: 18.4%;
        top: 24.5%;
    }

    #div7{
        top: 24.8%;
    }

    #qualification>section:nth-child(2)>#div2{
        top: 28.8%;
    }

    #qualification > section:nth-child(2) > #div2 > h5:nth-child(1) {
        font-size: 15px;
        top: -4%;
    }

    #qualification > section:nth-child(2) > #div2 > h5:nth-child(2) {
        font-size: 15px;
        top: 26%;
    }

    #qualification > section:nth-child(2) > #div2 > h5:nth-child(3) {
        font-size: 15px;
        top: 58%;
    }

    #img2 {
        width: 60px;
        top: 36.3%;
    }

    #qualification > section:nth-child(3) > h3 {
        font-size: 45px;
        right: 33%;
        top: 41%;
    }

    #qualification > section:nth-child(3) > #img3 {
        width: 300px;
        height: 250px;
        top: 50%;
    }

    #qualification > section:nth-child(3) > #h5text {
        font-size: 15px;
        top: 52%;
    }

    #h5text2 {
        font-size: 15px;
        top: 69%;
    }

    #h5text3 {
        font-size: 15px;
        top: 72%;
        left: 20%;
    }

    #img4 {
        width: 180px;
        top: 73%;
    }

    #img5 {
        width: 250px;
        top: 84%;
    }

    #qualification > section:nth-child(3) > button {
        top: 93%;
        right: 20%;
        font-size: 21px;
    }

    /* what i learnt*/
    #learn{
        width: 768px;
        height: 350px;
    }

    #learn>h4{
        font-size: 21px;
        top: 9%;
        left: 10%;
    }

    #div8>img:nth-child(1){
        width: 75px;
    }

    #div8>img:nth-child(2){
        width: 75px;
    }

    #div8>img:nth-child(3){
        width: 75px;
    }

    #div8>img:nth-child(4){
        width: 75px;
    }

    #div8>img:nth-child(5){
        width: 75px;
    }

    #div8>img:nth-child(6){
        width: 75px;
    }

    #learn>#div8{
        left: 20%;
        top: 50%;
    }

    /*gallery*/
    #gallery{
        width: 768px;
        height: 652px;
    }

    #gallery>section>#galary_photo{
        width: 768px;
    }

    #galary_photo>{
        width: 768px;
        height: 700px;
    }

    #gallery_opacity{
        width: 590px;
        height: 550px;
    }

    #gallery>section>h4{
        top: 12%;
        font-size: 55px;
        left: 38%;
    }

    #gallery>section>h3{
        font-size: 45px;
        top: 32%;
        left: 34%;
    }

    #gallery>section>a>button{
        width: 130px;
        height: 45px;
        font-size: 21px;
        top: 54%;
        left: 42%;
    }

    #gallery>section>h6{
        font-size: 25px;
        top: 59%;
        left: 39%;
    }

    /*assignment*/
    #assignment{
        width: 768px;
        height: 730px;
    }

    #assignment>section>h6{
        font-size: 15px;
        left: 15%;
    }

    #assignment>section>h3{
        font-size: 45px;
        left:15%;
    }


    #assignment1>img{
        width: 220px;
        top: 35%;
        left: 16%;
    }

    #assignment1>h5{
        font-size: 30px;
        top: 30%;
        left: 18%;
    }

    #assignment1>div{
        width: 120px;
        height: 120px;
        top: 52%;
        left: 21%;
    }

    #assignment1>div>img{
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment1>div>ol{
        top: 38%;
        left: -20%;
    }

    #assignment1>div>ol>li{
        font-size: 20px;
    }

    #assignment2>img{
        width: 220px;
        top: 35%;
        left: 54%;
    }

    #assignment2>h5{
        font-size: 30px;
        top: 30%;
        left: 56.5%;
    }

    #assignment2>div{
        width: 120px;
        height: 120px;
        top: 52%;
        left: 60.5%;
    }

    #assignment2>div>img{
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment2>div>ol{
        top: 38%;
        left: -20%;
    }

    #assignment3>img{
        display: none;
    }

    #assignment3>h5{
        display: none;
    }

    #assignment3>div{
        display: none;
    }

    #button{
        width: 35%;
        height: 45px;
        font-size: 21px;
        left: 32%;
        bottom: 10%;
    }

    /* project */
    #project{
        width: 768px;
        height: 739px;
    }

    #project>section>h6:first-child{
        font-size: 15px;
    }

    #project>section>h3{
        font-size: 45px;
        right: 16%;
    }

    #project1{
        width: 450px;
        top: 32%;
        left: 20%;
    }

    #project>section>h5{
        font-size: 15px;
        top: 82%;
        left: 35%;
    }

    #h6{
        font-size: 15px;
        top: 84%;
        left: 44%;
        opacity: 60%;
    }

    #project2{
        width: 90px;
        top: 24%;
        left: 13%;
    }

    #project3{
        width: 90px;
        top: 68%;
        right: 15%;
    }

    /* contact */
    #contact{
        width: 768px;
        height: 739px;
    }

    #contact>section>h6{
        font-size: 15px;
        right: 45%;
    }

    #contact>section>h3{
        font-size: 45px;
        right:15%;
    }


    #contact>h5{
        font-size: 21px;
        top: 20%;
        left: 18%;
    }

    #contact>form{
        width: 35%;
        height: 54%;
        top: 35%;
        left: 16%;
    }

    #input1{
        font-size: 21px;
        width: 236px;
        height: 48px;
        top: 10%;
        left: 5%;
    }

    #input2{
        font-size: 21px;
        width: 236px;
        height: 48px;
        top: 35%;
        left: 5%;
    }

    #contact>form>textarea{
        font-size: 21px;
        width:  236px;
        height: 65px;
        top: 60%;
        left: 5%;
    }

    #contact>form>button{
        width: 33%;
        height: 11%;
        font-size: 21px;
        top: 85%;
        left: 33%;
    }

    #contact>img{
        width: 220px;
        height: 170px;
        right: 16%;
        top: 50%;
    }

    #footer1{
        width: 768px;
        height: 60px;
    }

    #footer1>ol{
        left: 15px;
        margin-top: 1px;
    }

    #footer1>ol>li{
        margin-left:10px;
    }

    #footer1>ol>li>a{
        font-size: 21px;
    }

    #div13{
        width: 1.5px;
        height: 30px;
        top: 5%;
        left: 124px;
    }

    #div14{
        width: 1.5px;
        height: 30px;
        top: 5%;
        left: 222px;
    }

    #div15{
        width: 1.5px;
        height: 30px;
        top: 5%;
        left: 347px;
    }

    #div16{
        width: 1.5px;
        height: 30px;
        top: 5%;
        left: 425px;
    }

    #div17{
        width: 1.5px;
        height: 30px;
        top: 5%;
        left: 539px;
    }

    #div18{
        width: 1.5px;
        height: 30px;
        top: 5%;
        left: 612px;
    }

    #footer2{
        width: 768px;
        height: 220px;
        bottom: -10%;
    }

    #footer2>ol{
        width: 500px;
        height: 50px;
        bottom: 32%;
        left: 50px;
    }

    #footer2>ol>li{
        margin-left: 10px;
    }

    #footer2>ol>li>a>img{
        width: 40px;
    }

    #ol1{
        right: 355px;
        bottom: 12.5%;

    }

    #ol1>li{
        margin-top: 20px;
    }

    #ol1>li>img{
        width: 30px;
    }

    #ol2{
        right: 110px;
        bottom: 5%;
    }

    #ol2>li{
        margin-top: 22px;
        font-size: 20px;
    }

    #footer2>h6{
        font-size: 16px;
        bottom: -10%;
        left: 110px;
    }
}

/*425 mobile size*/
@media all and (max-width: 426px){
    body {
        width: 425px;
    }

    #home {
        width: 425px;
        height: 60px;
        position: relative;
    }

    #pic2{
        width: 425px;
    }

    #section1 > .squares {
        width: 425px;
    }

    .gradient {
        height: 60px;
    }

    #home > h1 {
        top: -30%;
    }

    #home > nav > ol > li {
        margin-right: 20px;
    }

    #home > nav > ol > li > a {
        font-size: 17px;
    }

    #home > nav {
        margin-top: 5px;
    }

    #section1>div>h3{
        font-size: 65px;
    }

    #section1>div>h4{
        text-align: center;
    }

    #span3{
        top: 13%;
        left: 40%;
    }

    #section1>div>div>button{
        font-size: 21px;
        left: 40%;
    }

    #section1>div>h3>span:first-child{
        font-size: 35px;
        margin-top: -15px;
        top: 13%;
        left: 40%;
    }

    #section1>div>h3>span:nth-child(2){
        font-size: 65px;
    }

    #section1>div>h4{
        font-size: 35px;
        margin-top: -55px;
    }

    /*about*/
    #about{
        top: -16px;
        width: 425px;
        height: 739px;
    }

    #about>section:nth-child(1)>h6{
        font-size: 13px;
        right: 15%;
    }

    #about>section:nth-child(1)>h3{
        font-size: 30px;
        right: 15%;
        top: 6%;
    }

    #about>section:nth-child(2)>p{
        font-size: 16px;
        width: 65%;
        right: 15%;
        top: 19%;
    }

    #about>section:nth-child(2)>ul>li{
        font-size: 15px;
    }

    #about>section:nth-child(2)>ul>li:nth-child(1){
        top: 42%;
        left: 20%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(2){
        top: 47%;
        left: 20%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(3){
        top: 52%;
        left: 20%;
    }
    #about>section:nth-child(2)>ul>li:nth-child(4){
        top: 57%;
        left: 20%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(5){
        top: 62%;
        left: 20%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(6){
        top: 67%;
        left: 20%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(7){
        top: 72%;
        left: 20%;
    }

    #about>section:nth-child(2)>ul>li:nth-child(8){
        top: 77%;
        left: 20%;
    }

    #about>section:nth-child(2)>div{
        right: 25%;
        top: 87%;
    }

    #about_social_media_icon>a>img{
        width: 40px;
    }

    /*qualification*/
    #qualification {
        height: 1200px;
        width: 425px;
    }

    #qualification > section:nth-child(1) > h6 {
        font-size: 13px;
        right: 42%;
    }

    #qualification > section:nth-child(1) > h3 {
        font-size: 30px;
        right: 24%;
        top: 2%;
    }

    #qualification>section:nth-child(2)>#div1{
        width: 50%;
        height: 9%;
        top: 11%;
        left: 19%;
        border: 3px solid #1DB89D;
    }

    #qualification > section:nth-child(2) > #div1 > h5:nth-child(1) {
        font-size: 13px;
        top: 5%;
    }

    #qualification > section:nth-child(2) > #div1 > h5:nth-child(2) {
        font-size: 13px;
        top: 36%;
    }

    #qualification > section:nth-child(2) > #div1 > h5:nth-child(3) {
        font-size: 13px;
        top: 56%;
    }

    #qualification > section:nth-child(2) > img:nth-child(1) {
        top: 10%;
        width: 40px;
    }

    #div3{
        top: 20.4%;
        width: 0.7%;
        height: 3.5%;
    }

    #div4 {
        top: 23.9%;
        height: 0.2%;
        width: 18.2%;
    }

    #div5 {
        width: 25px;
        height: 25px;
        top: 22.9%;
        left: 47%;
    }

    #div6 {
        width: 18.2%;
        height: 0.2%;
        top: 23.9%;
    }

    #div7{
        top: 24.1%;
        width: 0.6%;
        height: 3.5%;
    }

    #qualification>section:nth-child(2)>#div2{
        top: 27.6%;
        width: 50%;
        height: 9%;
        right: 19%;
        border: 3px solid #1DB89D;
    }

    #qualification > section:nth-child(2) > #div2 > h5:nth-child(1) {
        font-size: 13px;
        top: -4%;
    }

    #qualification > section:nth-child(2) > #div2 > h5:nth-child(2) {
        font-size: 13px;
        top: 26%;
    }

    #qualification > section:nth-child(2) > #div2 > h5:nth-child(3) {
        font-size: 13px;
        top: 58%;
    }

    #img2 {
        width: 40px;
        top: 35.6%;
        right: 14.4%;
    }

    #qualification > section:nth-child(3) > h3 {
        font-size: 30px;
        right: 31%;
        top: 41%;
    }

    #qualification > section:nth-child(3) > #img3 {
        width: 135px;
        height: 125px;
        top: 50%;
    }

    #qualification > section:nth-child(3) > #h5text {
        font-size: 13px;
        top: 48%;
        width: 25%;
        height: 4%;
    }

    #h5text2 {
        font-size: 13px;
        top: 62%;
    }

    #h5text3 {
        font-size: 13px;
        top: 66%;
        left: 20%;
    }

    #img4 {
        width: 120px;
        top: 68%;
    }

    #img5 {
        width: 190px;
        top: 83%;
    }

    #qualification > section:nth-child(3) > button {
        top: 95%;
        right: 20%;
        font-size: 18px;
        border: 3px solid #1DB89D;
    }

    /* what i learnt*/
    #learn{
        width: 425px;
        height: 350px;
    }

    #learn>h4{
        font-size: 19px;
        top: 9%;
        left: 10%;
    }

    #div8>img:nth-child(1){
        width: 65px;
        margin-right: 16px;
    }

    #div8>img:nth-child(2){
        width: 65px;
        margin-right: 16px;
    }

    #div8>img:nth-child(3){
        width: 65px;
    }

    #div8>img:nth-child(4){
        width: 65px;
        margin-right: 16px;
    }

    #div8>img:nth-child(5){
        width: 65px;
        margin-right: 16px;
    }

    #div8>img:nth-child(6){
        width: 65px;
        margin-top: 30px
    }

    #learn>#div8{
        left: 21%;
        top: 36%;
        width: 56%;
        height: 50%;
    }

    /*gallery*/
    #gallery{
        width: 425px;
        height: 652px;
    }

    #gallery>section>#galary_photo{
        width: 425px;
    }

    #galary_photo>{
        width: 425px;
        height: 700px;
    }

    #gallery_opacity{
        width: 330px;
        height: 560px;
    }

    #gallery>section>h4{
        top: 14%;
        font-size: 50px;
        left: 28%;
    }

    #gallery>section>h3{
        font-size: 40px;
        top: 32%;
        left: 24%;
    }

    #gallery>section>a>button{
        width: 110px;
        height: 40px;
        font-size: 18px;
        top: 52%;
        left: 37%;
    }

    #gallery>section>h6{
        font-size: 20px;
        top: 58%;
        left: 33%;
    }

    /*assignment*/
    #assignment{
        width: 425px;
        height: 570px;
    }

    #assignment>section>h6{
        font-size: 13px;
        left: 15%;
        top: 3%;
    }

    #assignment>section>h3{
        font-size: 30px;
        left:15%;
        top: 8%;
    }

    #assignment1>img{
        width: 220px;
        top: 35%;
        left: 24%;
    }

    #assignment1>h5{
        font-size: 30px;
        top: 30%;
        left: 29%;
    }

    #assignment1>div{
        width: 120px;
        height: 120px;
        top: 56%;
        left: 36.5%;
    }

    #assignment1>div>img{
        width: 35px;
        top: 13%;
        left: 35%;
    }

    #assignment1>div>ol{
        top: 38%;
        left: -20%;
    }

    #assignment1>div>ol>li{
        font-size: 20px;
    }

    #assignment2>img{
        display: none;
    }

    #assignment2>h5{
        display: none;
    }

    #assignment2>div{
        display: none;
    }


    #assignment3>img{
        display: none;
    }

    #assignment3>h5{
        display: none;
    }

    #assignment3>div{
        display: none;
    }

    #button{
        width: 52%;
        height: 40px;
        font-size: 18px;
        left: 25%;
        bottom: 10%;
    }

    /* project */
    #project{
        width: 425px;
        height: 480px;
    }

    #project>section>h6:first-child{
        font-size: 13px;
        right: 46%;
        top: 4%;
    }

    #project>section>h3{
        font-size: 30px;
        right: 25.5%;
        top: 11%;
        width: 200px;
        text-align: center;
    }

    #project1{
        width: 260px;
        top: 38%;
        left: 19.5%;
    }

    #project>section>h5{
        font-size: 14px;
        top: 76%;
        left: 25%;
    }

    #h6{
        font-size: 14px;
        top: 80%;
        left: 41%;
        opacity: 60%;
    }

    #project2{
        display: none;
        width: 90px;
        top: 24%;
        left: 13%;
    }

    #project3{
        display: none;
        width: 90px;
        top: 68%;
        right: 15%;
    }

    /* contact */
    #contact{
        width: 425px;
        height: 559px;
    }

    #contact>section>h6{
        top: 2%;
        font-size: 13px;
        right: 45%;
    }

    #contact>section>h3{
        font-size: 30px;
        right:26%;
        top: 8%;
        width: 200px;
        text-align: center;
    }


    #contact>h5{
        font-size: 18px;
        top: 26%;
        left: 18%;
    }

    #contact>form{
        width: 65%;
        height: 50%;
        top: 41%;
        left: 16.5%;
    }

    #input1{
        font-size: 15px;
        width: 236px;
        height: 45px;
        top: 10%;
        left: 5%;
    }

    #input2{
        font-size: 15px;
        width: 236px;
        height: 45px;
        top: 35%;
        left: 5%;
    }

    #contact>form>textarea{
        font-size: 15px;
        width:  236px   ;
        height: 60px;
        top: 60%;
        left: 5%;
    }

    #contact>form>button{
        width: 30%;
        height: 10%;
        font-size: 18px;
        top: 87%;
        left: 33%;
    }

    #contact>img{
        width: 220px;
        height: 170px;
        right: 16%;
        top: 50%;
        display: none;
    }

    #footer1{
        width: 425px;
        height: 70px;
    }

    #footer1>ol{
        left: -23px;
        margin-top: 0px;
        width: 380px;
        text-align: center;
    }

    #footer1>ol>li{
        margin-left:10px;
    }

    #footer1>ol>li>a{
        font-size: 18px;
    }

    #div13{
        width: 1.5px;
        height: 20px;
        top: 6%;
        left: 109px;
    }

    #div14{
        width: 1.5px;
        height: 20px;
        top: 6%;
        left: 195px;
    }

    #div15{
        width: 1.5px;
        height: 20px;
        top: 6%;
        left: 305px;
    }

    #div16{
        display: none;
    }

    #div17{
        width: 1.5px;
        height: 20px;
        top: 14%;
        left: 179px;
    }

    #div18{
        width: 1.5px;
        height: 20px;
        top: 14%;
        left: 245px;
    }

    #footer2{
        width: 425px;
        height: 220px;
        bottom: -10%;
    }

    #footer2>ol{
        width: 500px;
        height: 50px;
        bottom: 4%;
        left: 32px;
    }

    #footer2>ol>li{
        margin-left: 10px;
    }

    #footer2>ol>li>a>img{
        width: 40px;
    }

    #ol1{
        right: 295px;
        bottom: 25%;

    }

    #ol1>li{
        margin-top: 19px;
    }

    #ol1>li>img{
        width: 20px;
    }

    #ol2{
        right: 90px;
        bottom: 19%;
    }

    #ol2>li{
        margin-top: 18px;
        font-size: 16px;
    }

    #footer2>h6{
        font-size: 16px;
        bottom: -10%;
        left: 60px;
    }

}

@media all and (max-width: 376px) {
    body {
        width: 375px;
    }

    #home {
        width: 375px;
        height: 60px;
    }

    #pic2 {
        width: 375px;
    }
}
@media all and (max-width: 320px) {
    body {
        width: 320px;
    }

    #home {
        width: 320px;
        height: 60px;
    }

    #pic2 {
        width: 320px;
    }
}