body{
    background-color: darkblue;
}

div {
    background-color: lightslategrey;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

h1 {

    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

div::before {

    content: "";
    border: 10px solid white;
    border-top-color: #ff253a;
    position: absolute;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition-timing-function: linear;

}
div:hover::before {

    transition-duration: 4s;
    transform: rotate(360deg);
}



